@model App.Web.Areas.Admin.ViewModels.Product.AddOrUpProOptionVM

<div class="row">
	<input type="hidden" name="beforeUrl" value="@ViewBag.BeforeUrl" />
	<div class="col-md-2">
		<div class="form-group">
			<label asp-for="ProductIdCode" class="control-label">Mã sản phẩm</label>
			<input type="hidden" asp-for="ProductId"/>
			<input asp-for="ProductIdCode" placeholder="Mã sản phẩm..." class="form-control" readonly/>
		</div>
	</div>


    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="ColorId" class="control-label required">Màu sắc</label>
            <vc:select-product-color product="Model" />
            <span asp-validation-for="ColorId" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Price" class="control-label">Giá gốc</label>
                <input class="form-control" asp-for="Price" placeholder="Giá gốc sản phẩm..." />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="DiscountPrice" class="control-label">Giá khuyến mãi</label>
                        <input asp-for="DiscountPrice" class="form-control" placeholder="Giá Khuyến mãi..." />
                        <span asp-validation-for="DiscountPrice" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="DiscountFrom" class="control-label">Ngày bắt đầu</label>
                        <input asp-for="DiscountFrom" type="datetime-local" class="form-control" />
                        <span asp-validation-for="DiscountPrice" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="DiscountTo" class="control-label">Ngày kết thúc</label>
                        <input asp-for="DiscountTo" type="datetime-local" class="form-control" />
                        <span asp-validation-for="DiscountTo" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<div class="col-md-4">
		<div class="form-group">
			<label asp-for="Ram" class="control-label">Ram</label>
			<input asp-for="Ram" type="text" class="form-control" placeholder="Ram..."/>
			<span asp-validation-for="Ram" class="text-danger"></span>
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group">
			<label asp-for="Rom" class="control-label">Rom</label>
			<input asp-for="Rom" type="text" class="form-control" placeholder ="Rom..."/>
			<span asp-validation-for="Rom" class="text-danger"></span>
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group">
			<label asp-for="Inch" class="control-label">Màn hình</label>
			<input asp-for="Inch" type="text" class="form-control" placeholder ="kích thước màn hình..."/>
			<span asp-validation-for="Inch" class="text-danger"></span>
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group">
			<label asp-for="CPU" class="control-label">CPU</label>
			<input asp-for="CPU" type="text" class="form-control" placeholder ="Rom..."/>
			<span asp-validation-for="CPU" class="text-danger"></span>
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group">
			<label asp-for="GPU" class="control-label">GPU</label>
			<input asp-for="GPU" type="text" class="form-control" placeholder ="kích thước màn hình..."/>
			<span asp-validation-for="GPU" class="text-danger"></span>
		</div>
	</div>


	<div class="col-md-4">
		<div class="form-group">
			<label asp-for="InStock" class="control-label">Số lượng</label>
			<input asp-for="InStock" type="tel" class="form-control" placeholder ="Số lượng sản phẩm..."/>
			<span asp-validation-for="InStock" class="text-danger"></span>
		</div>
	</div>
	

</div>
