@{
	var classShowCollapse = "show";
	if (String.IsNullOrEmpty(ViewBag.ProductName) && ViewBag.CateId == null && ViewBag.SizeId == null && ViewBag.IsDiscount == null && ViewBag.BrandId == null && ViewBag.ColorId == null)
	{
		classShowCollapse = "";
	}
}

<div class="collapse @classShowCollapse" id="collapseExample">
	<div class="card">
		<section class="content">
			<div class="card-body">
				<form class="form-horizontal">
					<div class="row">
						<div class="form-group col-md-4">
							<label for="nameProduct" class="control-label">Tên sản phẩm</label>
							<input id="nameProduct" name="ProductName" type="text" class="form-control" value="@ViewBag.ProductName" />
						</div>
						<div class="form-group col-md-4">
							<label for="cateId" class="control-label">Danh mục</label>
							<select asp-items="(SelectList)ViewBag.ProductCategories" name="CateId"
									class="select-status form-control" title="Category">
								<option value="" selected>-- Chọn một giá trị --</option>
							</select>
						</div>
						<div class="form-group col-md-4">
							<label for="brandId" class="control-label">Thương hiệu</label>
							<select asp-items="(SelectList)ViewBag.Brands" name="BrandId"
									class="select-status form-control bs-autocomplete" title="Thương hiệu">
							</select>
						</div>
						<div class="form-group col-md-4">
							<label for="colorId" class="control-label">Màu sắc</label>
							<select asp-items="(SelectList)ViewBag.Colors" name="ColorId"
									class="select-status form-control bs-autocomplete" title="Màu sắc">
							</select>
						</div>
						<div class="form-group col-md-4">
							<label for="sizeId" class="control-label">Size</label>
							<select asp-items="(SelectList)ViewBag.Size" name="SizeId"
									class="select-status form-control bs-autocomplete" title="Size">
							</select>
						</div>
						<div class="form-group form-check col-md-12 ml-2">
							<input type="checkbox" checked="@ViewBag.IsDiscount"
								   class="form-check-input" name="IsDiscount" value="true" id="exampleCheck1">
							<label class="form-check-label" for="exampleCheck1">Các sản phẩm giảm giá</label>
						</div>
						<div class="col-12">
							<div class="form-group">
								<button type="submit" class="btn btn-success"><i class="fa fa-save mr-1"></i>Tìm kiếm</button>
								<button type="reset" class="btn btn-default"><i class="fa fa-undo"></i> Nhập lại</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</section>
	</div>
</div>