
@{
    ViewData["Title"] = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class=bg-sg></div>
<div class=master-wrapper-content>
    <div class=master-column-wrapper>
        <div class=center-1>
            <div class=breadcrumb>
                <ul >
                    <li>
                        <span> 
                            <a href="/" > 
                                <span itemprop=name content="Trang chủ">Trang
                                    chủ</span> </a> 
                        </span> 
                    <span class=delimiter>&#x203A;</span>
                    <li>
                        <span> 
                            <a href="/"> 
                                <span>Tin tức</span> 
                            </a> 
                        </span>
                </ul>
            </div>
            <div class="page news-list-page group_news big_img">
                <div class=page-title style=padding-top:0>
                    <h1 style=text-align:center>Tin tức</h1>
                </div>
                <div class=page-body>
                    <div class=news-items_Latest>
                        <div class="news-item_Latest ss_big">
                            <div class=picture_Latest>
                                <a>
                                    <img src=https://shopdunk.com/images/thumbs/0024958_1200x400_1600.png>
                                </a>
                            </div>
                            <div class=news-head_Latest>
                                <a class=news-title_Latest
                                    href=/shopdunk-badminton-cup-c%C3%B9ng-apple-watch-khai-ph%C3%A1-gi%E1%BB%9Bi-h%E1%BA%A1n>SHOPDUNK
                                    BADMINTON CUP - C&#xD9;NG APPLE WATCH KHAI PH&#xC1; GI&#x1EDA;I
                                    H&#x1EA0;N</a>
                                <div class=news-body_Latest>Tận hưởng mọi cảm xúc trên các trận cầu đỉnh cao
                                    cùng CUP SHOPDUNK.</div>
                            </div>
                        </div>
                        <div class="news-item_Latest ss_normal">
                            <div class=picture_Latest><a href=/danh-gia-macbook-air-m-1
                                    title="Hiển thị sản phẩm trong danh mục Đánh giá MacBook Air M1: MacBook Air M1 có ổn không? Dùng được mấy năm nữa? ">
                                    <img alt="Hình ảnh cho danh mục Đánh giá MacBook Air M1: MacBook Air M1 có ổn không? Dùng được mấy năm nữa? "
                                        src="https://shopdunk.com/images/thumbs/0019069__DSC4273 (1)_1600.jpeg"
                                        title="Hiển thị sản phẩm trong danh mục Đánh giá MacBook Air M1: MacBook Air M1 có ổn không? Dùng được mấy năm nữa? ">
                                </a></div>
                            <div class=news-head_Latest><a class=news-title_Latest
                                    href=/danh-gia-macbook-air-m-1>&#x110;&#xE1;nh gi&#xE1; MacBook Air M1:
                                    MacBook Air M1 c&#xF3; &#x1ED5;n kh&#xF4;ng? D&#xF9;ng
                                    &#x111;&#x1B0;&#x1EE3;c m&#x1EA5;y n&#x103;m n&#x1EEF;a? </a>
                                <div class=news-body_Latest>Đến hiện tại, MacBook Air M1 vẫn là một trong
                                    những dòng máy tích hợp chip Apple M1 mạnh mẽ nhất và ấn tượng nhất trên
                                    thị trường.</div><span class=news-date_Latest>07/03/2024</span>
                            </div>
                        </div>
                        <div class="news-item_Latest ss_normal">
                            <div class=picture_Latest><a href=/tong-hop-chuong-trinh-khuyen-mai-thang-4
                                    title="Hiển thị sản phẩm trong danh mục 🇻🇳 THÁNG TỰ HÀO - TRAO NGÀN DEAL SỐC 🇻🇳 ">
                                    <img alt="Hình ảnh cho danh mục 🇻🇳 THÁNG TỰ HÀO - TRAO NGÀN DEAL SỐC 🇻🇳 "
                                        src=https://shopdunk.com/images/thumbs/0024922_FB-2_1600.png
                                        title="Hiển thị sản phẩm trong danh mục 🇻🇳 THÁNG TỰ HÀO - TRAO NGÀN DEAL SỐC 🇻🇳 ">
                                </a></div>
                            <div class=news-head_Latest><a class=news-title_Latest
                                    href=/tong-hop-chuong-trinh-khuyen-mai-thang-4>&#x1F1FB;&#x1F1F3;
                                    TH&#xC1;NG T&#x1EF0; H&#xC0;O - TRAO NG&#xC0;N DEAL S&#x1ED0;C
                                    &#x1F1FB;&#x1F1F3; </a>
                                <div class=news-body_Latest>Chào mừng tháng 4 - tháng của những ngày lễ lớn
                                    mang đậm dấu ấn lịch sử và niềm tự hào dân tộc, ShopDunk bùng nổ hàng
                                    loạt deal hời hấp dẫn cùng những ưu đãi cực khủng với chương trình ưu
                                    đãi lên đến 50% các sản phẩm iPad, iPhone, MacBook, Apple Watch,
                                    AirPods… đừng bỏ lỡ những deal hời cực chất tháng này bạn nhé!</div>
                                <span class=news-date_Latest>01/03/2024</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class=all_list-cate>
                <div class=list-cate><a href=/apple-news class="cate-name news-home-apple-news">Tin
                        t&#x1EE9;c Apple</a></div>
                <div class=list-cate><a href=/news-review class="cate-name news-home-news-review">B&#xE0;i
                        vi&#x1EBF;t review</a></div>
                <div class=list-cate><a href=/tin-kham-pha
                        class="cate-name news-home-tin-kham-pha">Kh&#xE1;m ph&#xE1;</a></div>
                <div class=list-cate><a href=/thu-thuat class="cate-name news-home-thu-thuat">Th&#x1EE7;
                        thu&#x1EAD;t</a></div>
                <div class=list-cate><a href=/khuyen-mai
                        class="cate-name news-home-khuyen-mai">Khuy&#x1EBF;n m&#x1EA1;i</a></div>
                <div class=list-cate><a href=/tin-khac class="cate-name news-home-tin-khac">Tin
                        kh&#xE1;c</a></div>
                <div class=list-cate><a href=/news-ivideo class="cate-name news-home-news-ivideo">iVideo</a>
                </div>
                <div class=list-cate><a href=/news-vip-customer class="cate-name news-home-vip-customer">Góc
                        cảm ơn</a></div>
            </section>
            <div class="page news-list-page group_news">
                <div class=page-title>
                    <h2>Tin t&#x1EE9;c Apple</h2>
                </div>
                <div class=page-body>
                    <div class=news_lasted></div>
                    <div class=news-items>
                        <div class=news-item>
                            <div class=picture><a
                                    href=/tieu-diem-cuoi-nam-2023-tong-hop-san-pham-moi-cua-apple
                                    title="Hiển thị sản phẩm trong danh mục Tiêu điểm cuối năm 2023: Tổng hợp sản phẩm MacBook và iMac mới nhất của Apple">
                                    <img alt="Hình ảnh cho danh mục Tiêu điểm cuối năm 2023: Tổng hợp sản phẩm MacBook và iMac mới nhất của Apple"
                                        src=https://shopdunk.com/images/thumbs/0022649_apple-wwdc-2023-logo_1600.jpeg
                                        title="Hiển thị sản phẩm trong danh mục Tiêu điểm cuối năm 2023: Tổng hợp sản phẩm MacBook và iMac mới nhất của Apple">
                                </a></div>
                            <div class=news-head>
                                <h3 class=news-title><a
                                        href=/tieu-diem-cuoi-nam-2023-tong-hop-san-pham-moi-cua-apple>Ti&#xEA;u
                                        &#x111;i&#x1EC3;m cu&#x1ED1;i n&#x103;m 2023: T&#x1ED5;ng h&#x1EE3;p
                                        s&#x1EA3;n ph&#x1EA9;m MacBook v&#xE0; iMac m&#x1EDB;i nh&#x1EA5;t
                                        c&#x1EE7;a Apple</a></h3>
                                <div class=news-body>Sáng ngày 31/10, tại sự kiện Scary Fast mới nhất, những
                                    mẫu sản phẩm mới Mac của Apple đã chính thức ra mắt. Cả thế giới đang đổ
                                    dồn con mắt vào siêu phẩm MacBook Pro M3 14", MacBook Pro M3 16" và iMac
                                    M3.</div><span class=news-date>31/10/2023</span>
                            </div>
                        </div>
                        <div class=news-item>
                            <div class=picture><a href=/dung-luong-pin-iphone-15-pro-max
                                    title="Hiển thị sản phẩm trong danh mục Dung Lượng Pin iPhone 15 Pro Max KHỦNG 4.422 mAh| Test thực tế ra sao?">
                                    <img alt="Hình ảnh cho danh mục Dung Lượng Pin iPhone 15 Pro Max KHỦNG 4.422 mAh| Test thực tế ra sao?"
                                        src=https://shopdunk.com/images/thumbs/0021957_dung-luong-pin-iphone-15-pro-max_1600.jpeg
                                        title="Hiển thị sản phẩm trong danh mục Dung Lượng Pin iPhone 15 Pro Max KHỦNG 4.422 mAh| Test thực tế ra sao?">
                                </a></div>
                            <div class=news-head>
                                <h3 class=news-title><a href=/dung-luong-pin-iphone-15-pro-max>Dung
                                        L&#x1B0;&#x1EE3;ng Pin iPhone 15 Pro Max KH&#x1EE6;NG 4.422 mAh|
                                        Test th&#x1EF1;c t&#x1EBF; ra sao?</a></h3>
                                <div class=news-body>Theo thông báo chính thức từ Apple, dung lượng pin
                                    iPhone 15 Pro Max sở hữu viên pin lớn nhất 4.422 mAh, tăng khoảng 2,29%
                                    với iPhone 14 Pro Max, với thời gian xem video trực tuyến 25 giờ. Chi
                                    tiết thông tin này ra sao, cùng ShopDunk tìm hiểu ngay sau đây.</div>
                                <span class=news-date>30/10/2023</span>
                            </div>
                        </div>
                        <div class=news-item>
                            <div class=picture><a href=/iphone-15-pro-co-may-mau
                                    title="Hiển thị sản phẩm trong danh mục iPhone 15 Pro Có Mấy Màu? Màu Nào Mới Và Đẹp Nhất?">
                                    <img alt="Hình ảnh cho danh mục iPhone 15 Pro Có Mấy Màu? Màu Nào Mới Và Đẹp Nhất?"
                                        src=https://shopdunk.com/images/thumbs/0021924_iphone-15-pro-mau-titan-trang-ngoai-doi-thuc-khong-co-su-khac-biet-so-voi-tren-anh_1600.png
                                        title="Hiển thị sản phẩm trong danh mục iPhone 15 Pro Có Mấy Màu? Màu Nào Mới Và Đẹp Nhất?">
                                </a></div>
                            <div class=news-head>
                                <h3 class=news-title><a href=/iphone-15-pro-co-may-mau>iPhone 15 Pro C&#xF3;
                                        M&#x1EA5;y M&#xE0;u? M&#xE0;u N&#xE0;o M&#x1EDB;i V&#xE0;
                                        &#x110;&#x1EB9;p Nh&#x1EA5;t?</a></h3>
                                <div class=news-body>iPhone 15 Pro không chỉ được nâng cấp về tính năng,
                                    hiệu suất mà còn sở hữu bảng 4 màu sắc ấn tượng và sang trọng bậc nhất.
                                    Vậy iPhone 15 Pro có mấy màu? Cùng ShopDunk tìm hiểu chi tiết trong bài
                                    sau nhé!</div><span class=news-date>30/10/2023</span>
                            </div>
                        </div>
                        <div class=news-item>
                            <div class=picture><a href=/cau-hinh-iphone-15-pro-max
                                    title="Hiển thị sản phẩm trong danh mục Cấu hình iPhone 15 Pro Max đột phá chưa từng thấy!">
                                    <img alt="Hình ảnh cho danh mục Cấu hình iPhone 15 Pro Max đột phá chưa từng thấy!"
                                        src=https://shopdunk.com/images/thumbs/0022509_man-hinh-oled-kich-thuoc-6-7-inch_1600.png
                                        title="Hiển thị sản phẩm trong danh mục Cấu hình iPhone 15 Pro Max đột phá chưa từng thấy!">
                                </a></div>
                            <div class=news-head>
                                <h3 class=news-title><a href=/cau-hinh-iphone-15-pro-max>C&#x1EA5;u
                                        h&#xEC;nh iPhone 15 Pro Max &#x111;&#x1ED9;t ph&#xE1; ch&#x1B0;a
                                        t&#x1EEB;ng th&#x1EA5;y!</a></h3>
                                <div class=news-body>Sau một thời gian “lên kệ”, nhiều người dùng bày tỏ sự
                                    quan tâm về cấu hình iPhone 15 Pro Max, các thông số cấu hình trên phiên
                                    bản iPhone cao cấp nhất của Apple được nâng cấp vượt trội từ màn hình,
                                    camera, hiệu suất,...</div><span class=news-date>27/10/2023</span>
                            </div>
                        </div>
                    </div>
                </div><a href=/apple-news class=btn_all_news>Xem tất cả Tin t&#x1EE9;c Apple</a>
            </div>
            <div class="page news-list-page group_news">
                <div class=page-title>
                    <h2>B&#xE0;i vi&#x1EBF;t review</h2>
                </div>
                <div class=page-body>
                    <div class=news_lasted></div>
                    <div class=news-items>
                        <div class=news-item>
                            <div class=picture><a href=/danh-gia-macbook-air-m-1
                                    title="Hiển thị sản phẩm trong danh mục Đánh giá MacBook Air M1: MacBook Air M1 có ổn không? Dùng được mấy năm nữa? ">
                                    <img alt="Hình ảnh cho danh mục Đánh giá MacBook Air M1: MacBook Air M1 có ổn không? Dùng được mấy năm nữa? "
                                        src="https://shopdunk.com/images/thumbs/0019069__DSC4273 (1)_1600.jpeg"
                                        title="Hiển thị sản phẩm trong danh mục Đánh giá MacBook Air M1: MacBook Air M1 có ổn không? Dùng được mấy năm nữa? ">
                                </a></div>
                            <div class=news-head>
                                <h3 class=news-title><a href=/danh-gia-macbook-air-m-1>&#x110;&#xE1;nh
                                        gi&#xE1; MacBook Air M1: MacBook Air M1 c&#xF3; &#x1ED5;n
                                        kh&#xF4;ng? D&#xF9;ng &#x111;&#x1B0;&#x1EE3;c m&#x1EA5;y n&#x103;m
                                        n&#x1EEF;a? </a></h3>
                                <div class=news-body>Đến hiện tại, MacBook Air M1 vẫn là một trong những
                                    dòng máy tích hợp chip Apple M1 mạnh mẽ nhất và ấn tượng nhất trên thị
                                    trường.</div><span class=news-date>07/03/2024</span>
                            </div>
                        </div>
                        <div class=news-item>
                            <div class=picture><a href=/ipad-dang-dan-thay-the-macbook-nhu-the-nao
                                    title="Hiển thị sản phẩm trong danh mục iPad đang dần thay thế Macbook như thế nào? ">
                                    <img alt="Hình ảnh cho danh mục iPad đang dần thay thế Macbook như thế nào? "
                                        src="https://shopdunk.com/images/thumbs/0023801_Ảnh màn hình 2023-11-15 lúc 16.28.31_1600.png"
                                        title="Hiển thị sản phẩm trong danh mục iPad đang dần thay thế Macbook như thế nào? ">
                                </a></div>
                            <div class=news-head>
                                <h3 class=news-title><a
                                        href=/ipad-dang-dan-thay-the-macbook-nhu-the-nao>iPad &#x111;ang
                                        d&#x1EA7;n thay th&#x1EBF; Macbook nh&#x1B0; th&#x1EBF; n&#xE0;o?
                                    </a></h3>
                                <div class=news-body>Tiếp sau khát vọng “xoá sổ” máy tính đề bàn, với châm
                                    ngôn “holding the internet in your hands”, hãng đã và đang thiện thực
                                    hoá tham vọng đưa iPad thay thế cho MacBook cũng như các dòng máy
                                    laptop.</div><span class=news-date>17/02/2024</span>
                            </div>
                        </div>
                        <div class=news-item>
                            <div class=picture><a href=/ipad-gen-10-va-ipad-gen-9
                                    title="Hiển thị sản phẩm trong danh mục So sánh những điểm giống và khác biệt giữa iPad gen 9 và gen 10! ">
                                    <img alt="Hình ảnh cho danh mục So sánh những điểm giống và khác biệt giữa iPad gen 9 và gen 10! "
                                        src=https://shopdunk.com/images/thumbs/0019052_ipad-gen-9-va-gen-10_1600.jpeg
                                        title="Hiển thị sản phẩm trong danh mục So sánh những điểm giống và khác biệt giữa iPad gen 9 và gen 10! ">
                                </a></div>
                            <div class=news-head>
                                <h3 class=news-title><a href=/ipad-gen-10-va-ipad-gen-9>So s&#xE1;nh
                                        nh&#x1EEF;ng &#x111;i&#x1EC3;m gi&#x1ED1;ng v&#xE0; kh&#xE1;c
                                        bi&#x1EC7;t gi&#x1EEF;a iPad gen 9 v&#xE0; gen 10!&#xA0;</a></h3>
                                <div class=news-body>iPad gen 10 là phiên bản iPad tiêu chuẩn mới nhất của
                                    nhà Táo nên nhiều người hy vọng chiếc tablet này sẽ có nhiều nâng cấp so
                                    với bản tiền nhiệm - iPad gen 9. Bài viết này, ShopDunk sẽ chỉ ra 8 điểm
                                    khác biệt giữa iPad gen 10 và iPad gen 9, giúp bạn có lựa chọn sáng suốt
                                    nhất!</div><span class=news-date>26/08/2023</span>
                            </div>
                        </div>
                        <div class=news-item>
                            <div class=picture><a href=/so-sanh-ipad-gen-10-v%C3%A0-ipad-air-5
                                    title="Hiển thị sản phẩm trong danh mục So sánh iPad Gen 10 và iPad Air 5: Nên chọn iPad nào?">
                                    <img alt="Hình ảnh cho danh mục So sánh iPad Gen 10 và iPad Air 5: Nên chọn iPad nào?"
                                        src=https://shopdunk.com/images/thumbs/0019051_so-sanh-ipad-gen-10-va-ipad-air-5_1600.png
                                        title="Hiển thị sản phẩm trong danh mục So sánh iPad Gen 10 và iPad Air 5: Nên chọn iPad nào?">
                                </a></div>
                            <div class=news-head>
                                <h3 class=news-title><a href=/so-sanh-ipad-gen-10-v%C3%A0-ipad-air-5>So
                                        s&#xE1;nh iPad Gen 10 v&#xE0; iPad Air 5: N&#xEA;n ch&#x1ECD;n iPad
                                        n&#xE0;o?</a></h3>
                                <div class=news-body>iPad Gen 10 và iPad Air 5 là hai sản phẩm cùng được ra
                                    mắt năm 2022 của nhà Táo, trong đó iPad Air 5 có giá cao hơn so với iPad
                                    gen 10. Vậy 2 phiên bản này có gì khác biệt? Cùng ShopDunk so sánh iPad
                                    gen 10 và iPad Air 5 để hiểu rõ nhé!</div><span
                                    class=news-date>26/08/2023</span>
                            </div>
                        </div>
                    </div>
                </div><a href=/news-review class=btn_all_news>Xem tất cả B&#xE0;i vi&#x1EBF;t review</a>
            </div>
            <div class="page news-list-page group_news">
                <div class=page-title>
                    <h2>Kh&#xE1;m ph&#xE1;</h2>
                </div>
                <div class=page-body>
                    <div class=news_lasted></div>
                    <div class=news-items>
                        <div class=news-item>
                            <div class=picture><a href=/thong-so-macbook-air-m2-15-inch-2023
                                    title="Hiển thị sản phẩm trong danh mục Thông số MacBook Air M2 15 inch 2023 có gì mới? Có đáng để “xuống tiền?">
                                    <img alt="Hình ảnh cho danh mục Thông số MacBook Air M2 15 inch 2023 có gì mới? Có đáng để “xuống tiền?"
                                        src=https://shopdunk.com/images/thumbs/0018755_thong-so-macbook-air-15-inch-2023_1600.jpeg
                                        title="Hiển thị sản phẩm trong danh mục Thông số MacBook Air M2 15 inch 2023 có gì mới? Có đáng để “xuống tiền?">
                                </a></div>
                            <div class=news-head>
                                <h3 class=news-title><a
                                        href=/thong-so-macbook-air-m2-15-inch-2023>Th&#xF4;ng s&#x1ED1;
                                        MacBook Air M2 15 inch 2023 c&#xF3; g&#xEC; m&#x1EDB;i? C&#xF3;
                                        &#x111;&#xE1;ng &#x111;&#x1EC3; &#x201C;xu&#x1ED1;ng
                                        ti&#x1EC1;n?</a></h3>
                                <div class=news-body>Dưới đây hãy cùng tìm hiểu rõ hơn về các thông số
                                    MacBook Air M2 15 inch 2023 nhé!</div><span
                                    class=news-date>01/12/2023</span>
                            </div>
                        </div>
                        <div class=news-item>
                            <div class=picture><a href=/meo-tai-ung-dung-seed
                                    title="Hiển thị sản phẩm trong danh mục Mẹo tải ứng dụng SEED dù không phải là nhân viên Apple">
                                    <img alt="Hình ảnh cho danh mục Mẹo tải ứng dụng SEED dù không phải là nhân viên Apple"
                                        src=https://shopdunk.com/images/thumbs/0014968_Heres-How-Much-It-Costs-To-Own-The-Apple-Ecosystem1200_5fd71ec8a0ec6_1600.jpeg
                                        title="Hiển thị sản phẩm trong danh mục Mẹo tải ứng dụng SEED dù không phải là nhân viên Apple">
                                </a></div>
                            <div class=news-head>
                                <h3 class=news-title><a href=/meo-tai-ung-dung-seed>M&#x1EB9;o t&#x1EA3;i
                                        &#x1EE9;ng d&#x1EE5;ng SEED d&#xF9; kh&#xF4;ng ph&#x1EA3;i l&#xE0;
                                        nh&#xE2;n vi&#xEA;n Apple</a></h3>
                                <div class=news-body>Ứng dụng SEED là một ứng dụng khá thú vị về đào tạo,
                                    thúc đẩy và phát triển bán hàng mà chỉ có nhân viên, đại lý bán lẻ được
                                    Apple ủy quyền mới có thể tải. Hôm nay Tin Tức ShopDunk sẽ hướng dẫn bạn
                                    mẹo tải mà không cần là nhân viên Apple nhé!</div><span
                                    class=news-date>16/10/2023</span>
                            </div>
                        </div>
                        <div class=news-item>
                            <div class=picture><a href=/ipad-pro-m2-sac-bao-nhieu-w
                                    title="Hiển thị sản phẩm trong danh mục [Giải đáp] Apple trang bị cho iPad Pro M2 sạc bao nhiêu W?">
                                    <img alt="Hình ảnh cho danh mục [Giải đáp] Apple trang bị cho iPad Pro M2 sạc bao nhiêu W?"
                                        src=https://shopdunk.com/images/thumbs/0016328_sac-ipad-pro-m2-bao-nhieu-w_1600.jpeg
                                        title="Hiển thị sản phẩm trong danh mục [Giải đáp] Apple trang bị cho iPad Pro M2 sạc bao nhiêu W?">
                                </a></div>
                            <div class=news-head>
                                <h3 class=news-title><a href=/ipad-pro-m2-sac-bao-nhieu-w>[Gi&#x1EA3;i
                                        &#x111;&#xE1;p] Apple trang b&#x1ECB; cho iPad Pro M2 s&#x1EA1;c bao
                                        nhi&#xEA;u W?</a></h3>
                                <div class=news-body>Theo Apple, công suất sạc cực đại và an toàn cho iPad
                                    Pro M2 tối đa là 35W. Vậy thực tế Apple trang bị cho iPad Pro M2 sạc bao
                                    nhiêu W, có phải mức công suất tối đa này hay nhỏ hơn? Cùng theo dõi bài
                                    viết dưới đây để có câu trả lời bạn nhé!</div><span
                                    class=news-date>12/10/2023</span>
                            </div>
                        </div>
                        <div class=news-item>
                            <div class=picture><a href=/macbook-pro-13-m2-vs-macbook-pro-16-m1-max
                                    title="Hiển thị sản phẩm trong danh mục So sánh MacBook Pro 13 M2 vs MacBook Pro 16 M1 Max: “Cuộc chiến” không cân sức!">
                                    <img alt="Hình ảnh cho danh mục So sánh MacBook Pro 13 M2 vs MacBook Pro 16 M1 Max: “Cuộc chiến” không cân sức!"
                                        src=https://shopdunk.com/images/thumbs/0018137_macbook-pro-13-m2-vs-macbook-pro-16-m1-max_1600.jpeg
                                        title="Hiển thị sản phẩm trong danh mục So sánh MacBook Pro 13 M2 vs MacBook Pro 16 M1 Max: “Cuộc chiến” không cân sức!">
                                </a></div>
                            <div class=news-head>
                                <h3 class=news-title><a href=/macbook-pro-13-m2-vs-macbook-pro-16-m1-max>So
                                        s&#xE1;nh MacBook Pro 13 M2 vs MacBook Pro 16 M1 Max:
                                        &#x201C;Cu&#x1ED9;c chi&#x1EBF;n&#x201D; kh&#xF4;ng c&#xE2;n
                                        s&#x1EE9;c!</a></h3>
                                <div class=news-body>Thực tế, cả MacBook Pro 13 M2 vs MacBook Pro 16 M1 Max
                                    đều đã và đang cho thấy được giá trị riêng của mình trên thị trường công
                                    nghệ. Vậy đâu là sản phẩm đáng để chúng ta đầu tư hơn? Và nó hướng đến
                                    những đối tượng người dùng nào? Hãy cùng tìm hiểu câu trả lời trong bài
                                    viết này nhé!</div><span class=news-date>10/10/2023</span>
                            </div>
                        </div>
                    </div>
                </div><a href=/tin-kham-pha class=btn_all_news>Xem tất cả Kh&#xE1;m ph&#xE1;</a>
            </div>
            <div class="page news-list-page group_news">
                <div class=page-title>
                    <h2>Th&#x1EE7; thu&#x1EAD;t</h2>
                </div>
                <div class=page-body>
                    <div class=news_lasted></div>
                    <div class=news-items>
                        <div class=news-item>
                            <div class=picture><a href=/launchpad-macbook
                                    title="Hiển thị sản phẩm trong danh mục Hướng dẫn sử dụng Launchpad MacBook chỉ trong 5 phút">
                                    <img alt="Hình ảnh cho danh mục Hướng dẫn sử dụng Launchpad MacBook chỉ trong 5 phút"
                                        src=https://shopdunk.com/images/thumbs/0019027_launchpad-macbook_1600.jpeg
                                        title="Hiển thị sản phẩm trong danh mục Hướng dẫn sử dụng Launchpad MacBook chỉ trong 5 phút">
                                </a></div>
                            <div class=news-head>
                                <h3 class=news-title><a href=/launchpad-macbook>H&#x1B0;&#x1EDB;ng
                                        d&#x1EAB;n s&#x1EED; d&#x1EE5;ng Launchpad MacBook ch&#x1EC9; trong
                                        5 ph&#xFA;t</a></h3>
                                <div class=news-body>Launchpad MacBook MacBook là một phần quan trọng giúp
                                    việc truy cập ứng dụng của người dùng được diễn ra nhanh chóng và thuận
                                    tiện hơn. Hãy cùng ShopDunk tìm hiểu nhanh những thao tác cơ bản mà bạn
                                    có thể dễ dàng thực hiện ngay trên phần Launchpad này.</div><span
                                    class=news-date>21/08/2023</span>
                            </div>
                        </div>
                        <div class=news-item>
                            <div class=picture><a href=/cach-tao-thu-muc-tren-macbook
                                    title="Hiển thị sản phẩm trong danh mục Hướng dẫn 5 cách tạo thư mục trên MacBook đơn giản, nhanh chóng">
                                    <img alt="Hình ảnh cho danh mục Hướng dẫn 5 cách tạo thư mục trên MacBook đơn giản, nhanh chóng"
                                        src=https://shopdunk.com/images/thumbs/0018994_cach-tao-thu-muc-tren-macbook_1600.jpeg
                                        title="Hiển thị sản phẩm trong danh mục Hướng dẫn 5 cách tạo thư mục trên MacBook đơn giản, nhanh chóng">
                                </a></div>
                            <div class=news-head>
                                <h3 class=news-title><a
                                        href=/cach-tao-thu-muc-tren-macbook>H&#x1B0;&#x1EDB;ng d&#x1EAB;n 5
                                        c&#xE1;ch t&#x1EA1;o th&#x1B0; m&#x1EE5;c tr&#xEA;n MacBook
                                        &#x111;&#x1A1;n gi&#x1EA3;n, nhanh ch&#xF3;ng</a></h3>
                                <div class=news-body>Tạo thư mục (folder) để lưu trữ và phân loại tài liệu
                                    là một trong những thao tác quen thuộc của người dùng máy tính. Nếu bạn
                                    là người dùng đã quen thuộc với hệ điều hành Windows thì chắc hẳn sẽ gặp
                                    không ít bối rối khi tạo thư mục (folder) trên macOS. Trong bài viết
                                    này, ShopDunk sẽ hướng dẫn bạn cách tạo thư mục trên MacBook với 5 bước
                                    đơn giản và nhanh chóng!</div><span class=news-date>17/08/2023</span>
                            </div>
                        </div>
                        <div class=news-item>
                            <div class=picture><a href=/ipad-bi-do-khong-tat-duoc-nguon
                                    title="Hiển thị sản phẩm trong danh mục 6 cách TẮT NGUỒN iPad khi bị đơ CỰC DỄ, chỉ cần 5 giây">
                                    <img alt="Hình ảnh cho danh mục 6 cách TẮT NGUỒN iPad khi bị đơ CỰC DỄ, chỉ cần 5 giây"
                                        src=https://shopdunk.com/images/thumbs/0018762_ipad-bi-do-khong-tat-duoc-nguon_1600.jpeg
                                        title="Hiển thị sản phẩm trong danh mục 6 cách TẮT NGUỒN iPad khi bị đơ CỰC DỄ, chỉ cần 5 giây">
                                </a></div>
                            <div class=news-head>
                                <h3 class=news-title><a href=/ipad-bi-do-khong-tat-duoc-nguon>6 ca&#x301;ch
                                        T&#x1EAE;T NGU&#x1ED2;N iPad khi b&#x1ECB; &#x111;&#x1A1;
                                        C&#x1AF;&#x323;C D&#xCA;&#x303;, ch&#x1EC9; c&#x1EA7;n 5
                                        gi&#xE2;y</a></h3>
                                <div class=news-body>Người dùng iPad gặp phải tình huống iPad bị đơ
                                    không tắt được nguồn khiến quá trình sử dụng thiết bị cực kỳ
                                    bất tiện. Đừng lo lắng vì ngay sau đây, kĩ thuật viên ShopDunk sẽ
                                    hướng dẫn bạn 6 cách xử ký cực dễ, chỉ mất chưa tới 5 giây!
                                </div><span class=news-date>07/07/2023</span>
                            </div>
                        </div>
                        <div class=news-item>
                            <div class=picture><a href=/xoa-trang-macbook-m2
                                    title="Hiển thị sản phẩm trong danh mục 3 bước xóa trắng MacBook M2 và cài đặt lại macOS cực dễ dàng">
                                    <img alt="Hình ảnh cho danh mục 3 bước xóa trắng MacBook M2 và cài đặt lại macOS cực dễ dàng"
                                        src=https://shopdunk.com/images/thumbs/0018754_xoa-trang-macbook-m2_1600.jpeg
                                        title="Hiển thị sản phẩm trong danh mục 3 bước xóa trắng MacBook M2 và cài đặt lại macOS cực dễ dàng">
                                </a></div>
                            <div class=news-head>
                                <h3 class=news-title><a href=/xoa-trang-macbook-m2>3 b&#x1B0;&#x1EDB;c
                                        x&#xF3;a tr&#x1EAF;ng MacBook M2 v&#xE0; c&#xE0;i &#x111;&#x1EB7;t
                                        l&#x1EA1;i macOS c&#x1EF1;c d&#x1EC5; d&#xE0;ng</a></h3>
                                <div class=news-body>Xóa trắng MacBook M2 thường được ứng dụng trong trường
                                    hợp người dùng muốn cài đặt lại macOS, hoặc muốn sang nhượng lại máy cho
                                    người khác. Dưới đây sẽ là 5 bước xóa máy mac M2 vô cùng đơn giản mà bạn
                                    có thể tham khảo.</div><span class=news-date>06/07/2023</span>
                            </div>
                        </div>
                    </div>
                </div><a href=/thu-thuat class=btn_all_news>Xem tất cả Th&#x1EE7; thu&#x1EAD;t</a>
            </div>
            <div class="page news-list-page group_news">
                <div class=page-title>
                    <h2>Khuy&#x1EBF;n m&#x1EA1;i</h2>
                </div>
                <div class=page-body>
                    <div class=news_lasted></div>
                    <div class=news-items>
                        <div class=news-item>
                            <div class=picture><a href=/tong-hop-chuong-trinh-khuyen-mai-thang-4
                                    title="Hiển thị sản phẩm trong danh mục 🇻🇳 THÁNG TỰ HÀO - TRAO NGÀN DEAL SỐC 🇻🇳 ">
                                    <img alt="Hình ảnh cho danh mục 🇻🇳 THÁNG TỰ HÀO - TRAO NGÀN DEAL SỐC 🇻🇳 "
                                        src=https://shopdunk.com/images/thumbs/0024922_FB-2_1600.png
                                        title="Hiển thị sản phẩm trong danh mục 🇻🇳 THÁNG TỰ HÀO - TRAO NGÀN DEAL SỐC 🇻🇳 ">
                                </a></div>
                            <div class=news-head>
                                <h3 class=news-title><a
                                        href=/tong-hop-chuong-trinh-khuyen-mai-thang-4>&#x1F1FB;&#x1F1F3;
                                        TH&#xC1;NG T&#x1EF0; H&#xC0;O - TRAO NG&#xC0;N DEAL S&#x1ED0;C
                                        &#x1F1FB;&#x1F1F3; </a></h3>
                                <div class=news-body>Chào mừng tháng 4 - tháng của những ngày lễ lớn mang
                                    đậm dấu ấn lịch sử và niềm tự hào dân tộc, ShopDunk bùng nổ hàng loạt
                                    deal hời hấp dẫn cùng những ưu đãi cực khủng với chương trình ưu đãi lên
                                    đến 50% các sản phẩm iPad, iPhone, MacBook, Apple Watch, AirPods… đừng
                                    bỏ lỡ những deal hời cực chất tháng này bạn nhé!</div><span
                                    class=news-date>01/03/2024</span>
                            </div>
                        </div>
                        <div class=news-item>
                            <div class=picture><a
                                    href=/s%E1%BA%AFm-li%E1%BB%81n-t%C3%A1o-xinh-rinh-voucher-watch-x%E1%BB%8Bn-ch%E1%BB%89-c%C3%B3-t%E1%BA%A1i-shopdunk-2
                                    title="Hiển thị sản phẩm trong danh mục SẮM LIỀN TÁO XINH - RINH VOUCHER WATCH XỊN CHỈ CÓ TẠI SHOPDUNK">
                                    <img alt="Hình ảnh cho danh mục SẮM LIỀN TÁO XINH - RINH VOUCHER WATCH XỊN CHỈ CÓ TẠI SHOPDUNK"
                                        src="https://shopdunk.com/images/thumbs/0024423_Screen Shot 2024-02-23 at 17.24.06_1600.png"
                                        title="Hiển thị sản phẩm trong danh mục SẮM LIỀN TÁO XINH - RINH VOUCHER WATCH XỊN CHỈ CÓ TẠI SHOPDUNK">
                                </a></div>
                            <div class=news-head>
                                <h3 class=news-title><a
                                        href=/s%E1%BA%AFm-li%E1%BB%81n-t%C3%A1o-xinh-rinh-voucher-watch-x%E1%BB%8Bn-ch%E1%BB%89-c%C3%B3-t%E1%BA%A1i-shopdunk-2>S&#x1EAE;M
                                        LI&#x1EC0;N T&#xC1;O XINH - RINH VOUCHER WATCH X&#x1ECA;N CH&#x1EC8;
                                        C&#xD3; T&#x1EA0;I SHOPDUNK</a></h3>
                                <div class=news-body>Mùa yêu thương đang đến gần, bạn đã chọn được món quà
                                    nào cho người thương của mình chưa? ShopDunk mang đến chương trình ưu
                                    đãi "Sắm Táo Xinh - Rinh Voucher" cực hấp dẫn, giúp bạn trao gửi yêu
                                    thương một cách hoàn hảo nhất.</div><span
                                    class=news-date>23/02/2024</span>
                            </div>
                        </div>
                        <div class=news-item>
                            <div class=picture><a href=/thanh-toan-qua-kredivo-giam-den-1-trieu-dong
                                    title="Hiển thị sản phẩm trong danh mục THANH TOÁN QUA KREDIVO, GIẢM ĐẾN 1 TRIỆU ĐỒNG">
                                    <img alt="Hình ảnh cho danh mục THANH TOÁN QUA KREDIVO, GIẢM ĐẾN 1 TRIỆU ĐỒNG"
                                        src="https://shopdunk.com/images/thumbs/0024416_Artboard 3_1600.png"
                                        title="Hiển thị sản phẩm trong danh mục THANH TOÁN QUA KREDIVO, GIẢM ĐẾN 1 TRIỆU ĐỒNG">
                                </a></div>
                            <div class=news-head>
                                <h3 class=news-title><a
                                        href=/thanh-toan-qua-kredivo-giam-den-1-trieu-dong>THANH TO&#xC1;N
                                        QUA KREDIVO, GI&#x1EA2;M &#x110;&#x1EBE;N 1 TRI&#x1EC6;U
                                        &#x110;&#x1ED2;NG</a></h3>
                                <div class=news-body>Tất cả khách hàng thanh toán qua Kredivo khi mua sản
                                    phẩm tối thiểu 3.000.000đ tại ShopDunk sẽ được giảm đến 1.000.000đ.
                                </div><span class=news-date>29/01/2024</span>
                            </div>
                        </div>
                        <div class=news-item>
                            <div class=picture><a
                                    href=/uu-dai-tra-gop-0-mien-phi-chuyen-doi-cho-ipjhone-15-series-tai-shop-dunk
                                    title="Hiển thị sản phẩm trong danh mục Ưu đãi trả góp 0%, miễn phí chuyển đổi cho iPhone 15 series tại ShopDunk">
                                    <img alt="Hình ảnh cho danh mục Ưu đãi trả góp 0%, miễn phí chuyển đổi cho iPhone 15 series tại ShopDunk"
                                        src="https://shopdunk.com/images/thumbs/0024367_banner iphone 15 sr_TV_1600.jpeg"
                                        title="Hiển thị sản phẩm trong danh mục Ưu đãi trả góp 0%, miễn phí chuyển đổi cho iPhone 15 series tại ShopDunk">
                                </a></div>
                            <div class=news-head>
                                <h3 class=news-title><a
                                        href=/uu-dai-tra-gop-0-mien-phi-chuyen-doi-cho-ipjhone-15-series-tai-shop-dunk>&#x1AF;u
                                        &#x111;&#xE3;i tr&#x1EA3; g&#xF3;p 0%, mi&#x1EC5;n ph&#xED;
                                        chuy&#x1EC3;n &#x111;&#x1ED5;i cho iPhone 15 series t&#x1EA1;i
                                        ShopDunk</a></h3>
                                <div class=news-body>Từ ngày 01/01/2024, ShopDunk triển khai chương trình ưu
                                    đãi Trả góp 0% - Miễn phí chuyển đổi dành riêng cho khách hàng mua
                                    iPhone 15 series. Người dùng có cơ hội sở hữu mẫu điện thoại cao cấp
                                    nhất với chi phí chỉ cực kỳ hợp lý.</div><span
                                    class=news-date>04/01/2024</span>
                            </div>
                        </div>
                    </div>
                </div><a href=/khuyen-mai class=btn_all_news>Xem tất cả Khuy&#x1EBF;n m&#x1EA1;i</a>
            </div>
            <div class="page news-list-page group_news">
                <div class=page-title>
                    <h2>Tin kh&#xE1;c</h2>
                </div>
                <div class=page-body>
                    <div class=news_lasted></div>
                    <div class=news-items>
                        <div class=news-item>
                            <div class=picture><a href=/review-macbook-pro-m3-2023
                                    title="Hiển thị sản phẩm trong danh mục Review MacBook Pro M3 2023: Chip M3 series vượt trội, tối ưu đồ họa và gaming">
                                    <img alt="Hình ảnh cho danh mục Review MacBook Pro M3 2023: Chip M3 series vượt trội, tối ưu đồ họa và gaming"
                                        src="https://shopdunk.com/images/thumbs/0023321_review-macbook-pro-m3-2023 (2)_1600.jpeg"
                                        title="Hiển thị sản phẩm trong danh mục Review MacBook Pro M3 2023: Chip M3 series vượt trội, tối ưu đồ họa và gaming">
                                </a></div>
                            <div class=news-head>
                                <h3 class=news-title><a href=/review-macbook-pro-m3-2023>Review MacBook Pro
                                        M3 2023: Chip M3 series v&#x1B0;&#x1EE3;t tr&#x1ED9;i, t&#x1ED1;i
                                        &#x1B0;u &#x111;&#x1ED3; h&#x1ECD;a v&#xE0; gaming</a></h3>
                                <div class=news-body>MacBook Pro M3 2023 - Siêu phẩm đình đám nhận được
                                    nhiều sự đầu tư về hiệu năng cùng các công nghệ mới đi kèm. Hãy cùng
                                    review MacBook Pro M3 2023 chi tiết hơn trong bài viết này!</div><span
                                    class=news-date>28/02/2024</span>
                            </div>
                        </div>
                        <div class=news-item>
                            <div class=picture><a href=/co-nen-mua-macbook-pro-m3
                                    title="Hiển thị sản phẩm trong danh mục Ai nên mua MacBook Pro M3 với cải tiến chính về GPU? - Tư vấn chi tiết">
                                    <img alt="Hình ảnh cho danh mục Ai nên mua MacBook Pro M3 với cải tiến chính về GPU? - Tư vấn chi tiết"
                                        src=https://shopdunk.com/images/thumbs/0023713_co-nen-mua-macbook-pro-m3-ava_1600.jpeg
                                        title="Hiển thị sản phẩm trong danh mục Ai nên mua MacBook Pro M3 với cải tiến chính về GPU? - Tư vấn chi tiết">
                                </a></div>
                            <div class=news-head>
                                <h3 class=news-title><a href=/co-nen-mua-macbook-pro-m3>Ai n&#xEA;n mua
                                        MacBook Pro M3 v&#x1EDB;i c&#x1EA3;i ti&#x1EBF;n ch&#xED;nh
                                        v&#x1EC1; GPU? - T&#x1B0; v&#x1EA5;n chi ti&#x1EBF;t</a></h3>
                                <div class=news-body>Cùng ShopDunk điểm qua 9 điểm nổi bật trên dòng MacBook
                                    Pro M3 để dễ dàng đưa ra quyết định có nên mua MacBook Pro M3 hay không.
                                    Đừng bỏ lỡ!</div><span class=news-date>10/11/2023</span>
                            </div>
                        </div>
                        <div class=news-item>
                            <div class=picture><a href=/tra-gop-macbook-pro-m3
                                    title="Hiển thị sản phẩm trong danh mục Trả góp MacBook Pro M3 - Sở hữu MacBook chip M3 đơn giản với ShopDunk">
                                    <img alt="Hình ảnh cho danh mục Trả góp MacBook Pro M3 - Sở hữu MacBook chip M3 đơn giản với ShopDunk"
                                        src="https://shopdunk.com/images/thumbs/0023666_tra-gop-macbook-pro-m3 (1)_1600.jpeg"
                                        title="Hiển thị sản phẩm trong danh mục Trả góp MacBook Pro M3 - Sở hữu MacBook chip M3 đơn giản với ShopDunk">
                                </a></div>
                            <div class=news-head>
                                <h3 class=news-title><a href=/tra-gop-macbook-pro-m3>Tr&#x1EA3; g&#xF3;p
                                        MacBook Pro M3 - S&#x1EDF; h&#x1EEF;u MacBook chip M3
                                        &#x111;&#x1A1;n gi&#x1EA3;n v&#x1EDB;i ShopDunk</a></h3>
                                <div class=news-body>ShopDunk hỗ trợ trả góp 0% lãi suất đối với dòng
                                    MacBook Pro M3. Tìm hiểu chi tiết chính sách của ShopDunk để sở hữu sản
                                    phẩm với giá ưu đãi nhất!</div><span class=news-date>10/11/2023</span>
                            </div>
                        </div>
                        <div class=news-item>
                            <div class=picture><a href=/sac-macbook-pro-m3-bao-nhieu-w
                                    title="Hiển thị sản phẩm trong danh mục Sạc MacBook Pro M3 bao nhiêu W? Máy hỗ trợ tính năng sạc nhanh nào?">
                                    <img alt="Hình ảnh cho danh mục Sạc MacBook Pro M3 bao nhiêu W? Máy hỗ trợ tính năng sạc nhanh nào?"
                                        src="https://shopdunk.com/images/thumbs/0023320_sac-macbook-pro-m3-bao-nhieu-w (4)_1600.jpeg"
                                        title="Hiển thị sản phẩm trong danh mục Sạc MacBook Pro M3 bao nhiêu W? Máy hỗ trợ tính năng sạc nhanh nào?">
                                </a></div>
                            <div class=news-head>
                                <h3 class=news-title><a href=/sac-macbook-pro-m3-bao-nhieu-w>S&#x1EA1;c
                                        MacBook Pro M3 bao nhi&#xEA;u W? M&#xE1;y h&#x1ED7; tr&#x1EE3;
                                        t&#xED;nh n&#x103;ng s&#x1EA1;c nhanh n&#xE0;o?</a></h3>
                                <div class=news-body>MacBook Pro 14 inch M3 và MacBook Pro 16 inch M3 chính
                                    thức ra mắt. Thông tin về việc sạc MacBook Pro M3 bao nhiêu W, máy liệu
                                    có được hỗ trợ sạc nhanh sẽ được bật mí trong bài viết này!</div><span
                                    class=news-date>08/11/2023</span>
                            </div>
                        </div>
                    </div>
                </div><a href=/tin-khac class=btn_all_news>Xem tất cả Tin kh&#xE1;c</a>
            </div>
            <div class="page news-list-page group_news">
                <div class=page-title>
                    <h2>iVideo</h2>
                </div>
                <div class=page-body>
                    <div class=news_lasted></div>
                    <div class=news-items>
                        <div class=news-item>
                            <div class=picture><a
                                    href=/ipad-gen-9-c%C3%A1ch-thi%E1%BA%BFt-l%E1%BA%ADp-t%E1%BB%91i-%C6%B0u-cho-c%C3%B4ng-vi%E1%BB%87c-v%C3%A0-h%E1%BB%8Dc-t%E1%BA%ADp
                                    title="Hiển thị sản phẩm trong danh mục iPad Gen 9: Cách thiết lập tối ưu cho công việc và học tập!">
                                    <img alt="Hình ảnh cho danh mục iPad Gen 9: Cách thiết lập tối ưu cho công việc và học tập!"
                                        src=https://shopdunk.com/images/thumbs/0016899_maxresdefault_1600.jpeg
                                        title="Hiển thị sản phẩm trong danh mục iPad Gen 9: Cách thiết lập tối ưu cho công việc và học tập!">
                                </a></div>
                            <div class=news-head>
                                <h3 class=news-title><a
                                        href=/ipad-gen-9-c%C3%A1ch-thi%E1%BA%BFt-l%E1%BA%ADp-t%E1%BB%91i-%C6%B0u-cho-c%C3%B4ng-vi%E1%BB%87c-v%C3%A0-h%E1%BB%8Dc-t%E1%BA%ADp>iPad
                                        Gen 9: C&#xE1;ch thi&#x1EBF;t l&#x1EAD;p t&#x1ED1;i &#x1B0;u cho
                                        c&#xF4;ng vi&#x1EC7;c v&#xE0; h&#x1ECD;c t&#x1EAD;p!</a></h3>
                                <div class=news-body>Cùng tìm hiểu cách thiết lập iPad Gen 9 để tối ưu cho
                                    công việc và học tập trong video tới từ Yêu Apple - Đối tác chính thức
                                    của ShopDunk.</div><span class=news-date>01/05/2023</span>
                            </div>
                        </div>
                        <div class=news-item>
                            <div class=picture><a
                                    href=/imac-m1-d%C3%A0nh-cho-ai-h%C6%B0%E1%BB%9Bng-d%E1%BA%ABn-l%E1%BB%B1a-ch%E1%BB%8Dn-imac-m1-cho-m%E1%BB%8Di-ng%C6%B0%E1%BB%9Di
                                    title="Hiển thị sản phẩm trong danh mục iMac M1 dành cho ai? - Hướng dẫn lựa chọn iMac M1 cho mọi người">
                                    <img alt="Hình ảnh cho danh mục iMac M1 dành cho ai? - Hướng dẫn lựa chọn iMac M1 cho mọi người"
                                        src=https://shopdunk.com/images/thumbs/0016914_maxresdefault-2_1600.jpeg
                                        title="Hiển thị sản phẩm trong danh mục iMac M1 dành cho ai? - Hướng dẫn lựa chọn iMac M1 cho mọi người">
                                </a></div>
                            <div class=news-head>
                                <h3 class=news-title><a
                                        href=/imac-m1-d%C3%A0nh-cho-ai-h%C6%B0%E1%BB%9Bng-d%E1%BA%ABn-l%E1%BB%B1a-ch%E1%BB%8Dn-imac-m1-cho-m%E1%BB%8Di-ng%C6%B0%E1%BB%9Di>iMac
                                        M1 d&#xE0;nh cho ai? - H&#x1B0;&#x1EDB;ng d&#x1EAB;n l&#x1EF1;a
                                        ch&#x1ECD;n iMac M1 cho m&#x1ECD;i ng&#x1B0;&#x1EDD;i</a></h3>
                                <div class=news-body>iMac M1 dành cho ai? - Hướng dẫn lựa chọn iMac M1 cho
                                    mọi người</div><span class=news-date>01/05/2023</span>
                            </div>
                        </div>
                        <div class=news-item>
                            <div class=picture><a href=/review-iphone-12-thoi-diem-hien-tai
                                    title="Hiển thị sản phẩm trong danh mục iPhone 12 vào 2023 I ĐỦ DÙNG NHƯNG VẪN NÊN LƯU Ý!">
                                    <img alt="Hình ảnh cho danh mục iPhone 12 vào 2023 I ĐỦ DÙNG NHƯNG VẪN NÊN LƯU Ý!"
                                        src="https://shopdunk.com/images/thumbs/0014265_maxresdefault (27)_1600.jpeg"
                                        title="Hiển thị sản phẩm trong danh mục iPhone 12 vào 2023 I ĐỦ DÙNG NHƯNG VẪN NÊN LƯU Ý!">
                                </a></div>
                            <div class=news-head>
                                <h3 class=news-title><a href=/review-iphone-12-thoi-diem-hien-tai>iPhone 12
                                        v&#xE0;o 2023 I &#x110;&#x1EE6; D&#xD9;NG NH&#x1AF;NG V&#x1EAA;N
                                        N&#xCA;N L&#x1AF;U &#xDD;!</a></h3>
                                <div class=news-body>Đánh giá chiếc máy "quốc dân" với hiệu năngj tốt , mượt
                                    mà, thiết kế đẹp và giá "dịu dàng" cùng ShopDunk nhé.</div><span
                                    class=news-date>19/03/2023</span>
                            </div>
                        </div>
                        <div class=news-item>
                            <div class=picture><a
                                    href=/top-phu-kien-bao-ve-macbook-ma-ban-nen-hoac-khong-nen-dung
                                    title="Hiển thị sản phẩm trong danh mục Top phụ kiện bảo vệ MacBook mà bạn NÊN hoặc KHÔNG NÊN dùng!">
                                    <img alt="Hình ảnh cho danh mục Top phụ kiện bảo vệ MacBook mà bạn NÊN hoặc KHÔNG NÊN dùng!"
                                        src="https://shopdunk.com/images/thumbs/0014251_maxresdefault (14)_1600.jpeg"
                                        title="Hiển thị sản phẩm trong danh mục Top phụ kiện bảo vệ MacBook mà bạn NÊN hoặc KHÔNG NÊN dùng!">
                                </a></div>
                            <div class=news-head>
                                <h3 class=news-title><a
                                        href=/top-phu-kien-bao-ve-macbook-ma-ban-nen-hoac-khong-nen-dung>Top
                                        ph&#x1EE5; ki&#x1EC7;n b&#x1EA3;o v&#x1EC7; MacBook m&#xE0;
                                        b&#x1EA1;n N&#xCA;N ho&#x1EB7;c KH&#xD4;NG N&#xCA;N d&#xF9;ng!</a>
                                </h3>
                                <div class=news-body>Bảo vệ MacBook là cần thiết nhưng liệu bạn đã biết
                                    những phụ kiện nào nên và không nên dùng cho MacBook của mình chưa?
                                    Video tới từ Yêu Apple - Đối tác chính thức của ShopDunk sẽ cung cấp cho
                                    bạn lời giải.</div><span class=news-date>18/03/2023</span>
                            </div>
                        </div>
                    </div>
                </div><a href=/news-ivideo class=btn_all_news>Xem tất cả iVideo</a>
            </div>
            <div class=topic-block>
                <div class=topic-block-body>
                    <div class=video-area>
                        <div class=content-video><img
                                src=//cdn.tgdd.vn/mwgcart/topzone/images/topnews/desktop/video-title.png
                                width=75 height=24>
                            <div class=video-area>
                                <div class=all_content_video>
                                    <div class="item_video big_vd"><iframe title="YouTube video player"
                                            src="https://www.youtube.com/embed/69bFJeJiEDg?start=1"
                                            width=100% height=100% frameborder=0 allowfullscreen></iframe>
                                    </div>
                                    <div class="item_video normal_vd"><iframe title="YouTube video player"
                                            src="https://www.youtube.com/embed/94ec9ETfps8?start=1"
                                            width=100% height=100% frameborder=0 allowfullscreen></iframe>
                                    </div>
                                    <div class="item_video normal_vd"><iframe title="YouTube video player"
                                            src="https://www.youtube.com/embed/FDh8pYtMtIc?start=1"
                                            width=100% height=100% frameborder=0 allowfullscreen></iframe>
                                    </div>
                                    <div class="item_video normal_vd"><iframe
                                            title="iPhone 14/14 Plus VÀNG chính thức! Máy đã ế còn cho thêm màu ế, nước đi KHÓ HIỂU của Apple?!"
                                            src=https://www.youtube.com/embed/k1at0x4Ut1U width=100%
                                            height=100% frameborder=0 allowfullscreen></iframe></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
