@model App.Data.Entities.AppNews
@using App.Share.Extensions
@{
    ViewData["Title"] = "NewsDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";   
}
<div class="master-column-wrapper" style="text-align: center;">
    <div class="center-2" style="width: 100% !important;">
        <div class="banner-news">
            <img src="@Model.CoverImgPath" />
        </div>
        <div class="page news-item-page">
            <div>
                <div class="page-title">
                    <h1 id="toc-title">
                        @Model.Title
                    </h1>
                </div>
                <div class="news-date">
                    <span content="25/04/2024">
                       @Model.CreatedDate.ToDMYHM()
                    </span>
                </div>

            </div>
            <div class="page-body">
                @Html.Raw(Model.Content)
            </div>
        </div>
    </div>
</div>