@model App.Web.Areas.Admin.ViewModels.AppDiscountCode.AddOrUpdateDiscountCodeVM

<div class="row">
	<div class="col-md-4">
		<div class="form-group">
			<label asp-for="Code" class="control-label required">Mã khuyến mãi</label>
			<input asp-for="Code" class="form-control" />
			<span asp-validation-for="Code" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="Price" class="control-label required">Giá giảm</label>
			<input asp-for="Price" class="form-control" />
			<span asp-validation-for="Price" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="Percent" class="control-label required">Giảm giá theo phần trăm</label>
			<input asp-for="Percent" class="form-control" />
			<span asp-validation-for="Percent" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label class="control-label">Không áp dụng cho danh mục</label>
			<vc:select-list-category-d-code discount-code="Model" />
			<span asp-validation-for="UnApplyCategoryId" class="text-danger"></span>
		</div>
	</div>
</div>