@model App.Web.Areas.Admin.ViewModels.ProductCategory.AddOrUpdateProductCategoryVM

<div class="row">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<div class="col-md-6">
		<div class="form-group">
			<label asp-for="Name" class="control-label"></label>
			<input asp-for="Name" class="form-control" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="ParentCateId" class="control-label">Danh mục cha</label>
			<vc:select-list-product-category product-cate="Model" />
			<span asp-validation-for="ParentCateId" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="StampPath" class="control-label">Tem</label>
			<div class="btn-group w-100" role="group">
				<input asp-for="StampPath" placeholder="Link tem...."
					   readonly class="form-control" />
				<input type="button" class="btn btn-secondary btn-elfinder"
					   data-imgthumbnailpath=""
					   data-imgpath="#StampPath"
					   value="Chọn ảnh" />
			</div>
			<span asp-validation-for="StampPath" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="Content" class="control-label">Nội dung</label>
			<textarea rows="4" class="form-control" asp-for="Content"></textarea>
			<span asp-validation-for="Content" class="text-danger"></span>
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group group-container">
			<label class="control-label required">Ảnh bìa</label>
			<div id="elfinder-background"></div>
			<input asp-for="CoverImgPath" class="fake-d-none">
			<div class="position-relative">
				<input type="button" class="btn btn-elfinder w-100 h-100 position-absolute"
					   data-imgthumbnailpath="#CoverImgPath"
					   data-imgpath="#CoverImgPath">
				<div class="selectedImages" style="height: 368px;">
					@{
						if (Model is null)
						{
							<span>Ảnh bìa danh mục</span>
						}
						else
						{
							<img class="image-review" src="@Model.CoverImgPath" />
						}
					}
				</div>
			</div>
			<span asp-validation-for="CoverImgPath" class="text-danger"></span>
		</div>
	</div>
</div>