@model App.Web.Areas.Admin.ViewModels.ProductCategory.AddOrUpdateProductCategoryVM
@{
	ViewData["Title"] = $"Cập nhật danh mục [{Model.Name}]";
}

<div class="row">
	<div class="col-md-12">
		<form asp-action="Update" method="post">
			<partial name="_AddOrUpdateCate" model="Model" />
			<div class="form-group">
				<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Lưu</button>
			</div>
		</form>
	</div>
</div>

<partial name="_BackToList" />

@section scripts{
	<link rel="stylesheet" href="~/lib/jqueryui/themes/base/theme.css" />
	<link rel="stylesheet" href="~/lib/jqueryui/themes/base/jquery-ui.css" />
	<link rel="stylesheet" href="~/lib/elfinder/css/elfinder.full.css" />
	<link rel="stylesheet" href="~/lib/elfinder/css/theme.min.css" />
	<script src="~/lib/jqueryui/jquery-ui.min.js"></script>
	<script src="~/lib/elfinder/js/elfinder.min.js"></script>
	<script src="~/js/elfinder/common_elfinder.js"></script>
}