@model IEnumerable<App.Web.ViewModels.News.ListNewsNavBarVM>
<!--Blog Sidebar Start-->
<div class="col-lg-3">
	<div class="blog_sidebar">
		<div class="row_products_side">
			<div class="product_left_sidbar">
				<div class="product-filter  mb-35">
					<h2>Tìm kiếm </h2>
					<div class="search__sidbar">
						<form action="/search">
							<div class="input_form">
								<input id="search_input" name="q" placeholder="Tìm kiếm sản phẩm..." class="input_text"
									   type="text">
								<button id="blogsearchsubmit" type="submit" class="button">
									<i class="fa fa-search"></i>
								</button>
							</div>
						</form>
					</div>
				</div>
				<div class="product-filter  mb-35">
					<h2><a href="/blogs/all" title=""></a></h2>
					<div class="blog_Archives__sidbar">
						<ul>
							@if (Model.Count() > 0)
							{
								foreach (var item in Model)
								{
									<li>
										@if (!item.Slug.IsNullOrEmpty())
										{
											<a asp-controller="News" asp-action="NewsDetail" asp-route-slug="@item.Slug"
											   title="@(item.Title ?? "")">
												@if (!item.Title.IsNullOrEmpty())
												{
													<span>@item.Title</span>
												}
											</a>
										}
									</li>
								}
							}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--Blog Sidebar End-->