<div class="all_cross-sells prd-detail">
    <div class="product-grid cross-sells">
        <div class="title">
            <strong>Gợi ý phụ kiện đi kèm</strong>
        </div>
        <div class="item-grid">
            <div class="item-bo ">
                <div class="product-item" data-productid="2693">

                    <div class="picture">
                        <a href="/cuong-luc-apple-iphone-15-zeelot-solidleek"
                           title="Hi&#x1EC3;n th&#x1ECB; chi ti&#x1EBF;t cho C&#x1B0;&#x1EDD;ng l&#x1EF1;c Apple iPhone 15 series Zeelot Solidleek">
                            <img alt="&#x1EA2;nh c&#x1EE7;a C&#x1B0;&#x1EDD;ng l&#x1EF1;c Apple iPhone 15 series Zeelot Solidleek"
                                 src="https://shopdunk.com/images/thumbs/0019158_cuong-luc-apple-iphone-15-series-zeelot-solidleek_240.jpeg"
                                 title="Hi&#x1EC3;n th&#x1ECB; chi ti&#x1EBF;t cho C&#x1B0;&#x1EDD;ng l&#x1EF1;c Apple iPhone 15 series Zeelot Solidleek" />
                        </a>
                    </div>
                    <div class="details">
                        <span class="product-title">
                            <a href="/cuong-luc-apple-iphone-15-zeelot-solidleek">
                                C&#x1B0;&#x1EDD;ng l&#x1EF1;c
                                Apple iPhone 15 series Zeelot Solidleek
                            </a>
                        </span>
                        <div class="product-rating-box" title="0 b&#xE0;i &#x111;&#xE1;nh gi&#xE1;">
                            <div class="rating">
                                <div style="width: 0%">
                                </div>
                            </div>
                        </div>
                        <div class="description">
                        </div>
                        <div class="add-info">

                            <div class="prices">
                                <span class="price old-price">390.000&#x20AB;</span>
                                <span class="price actual-price">350.000&#x20AB;</span>
                            </div>
                            <div class="append_price_percent"></div>

                            <div class="buttons">
                                <button type="button" class="button-2 product-box-add-to-cart-button"
                                        onclick="AjaxCart.addproducttocart_catalog('/addproducttocart/catalog/2693/1/1?forceredirection=True');return false;">
                                    Mua
                                    ngay
                                </button>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
            <div class="item-box">
                <div class="product-item" data-productid="2719">

                    <div class="picture">
                        <a href="/cuong-luc-camera-uniq-optix-for-iphone-15-iphone-15-plus"
                           title="Hi&#x1EC3;n th&#x1ECB; chi ti&#x1EBF;t cho C&#x1B0;&#x1EDD;ng l&#x1EF1;c Camera UNIQ OPTIX for iPhone 15 / iPhone 15 Plus">
                            <img alt="&#x1EA2;nh c&#x1EE7;a C&#x1B0;&#x1EDD;ng l&#x1EF1;c Camera UNIQ OPTIX for iPhone 15 / iPhone 15 Plus"
                                 src="https://shopdunk.com/images/thumbs/0021877_cuong-luc-camera-uniq-optix-for-iphone-15-iphone-15-plus_240.jpeg"
                                 title="Hi&#x1EC3;n th&#x1ECB; chi ti&#x1EBF;t cho C&#x1B0;&#x1EDD;ng l&#x1EF1;c Camera UNIQ OPTIX for iPhone 15 / iPhone 15 Plus" />
                        </a>
                    </div>
                    <div class="details">
                        <span class="product-title">
                            <a href="/cuong-luc-camera-uniq-optix-for-iphone-15-iphone-15-plus">
                                C&#x1B0;&#x1EDD;ng
                                l&#x1EF1;c Camera UNIQ OPTIX for iPhone 15 / iPhone 15 Plus
                            </a>
                        </span>
                        <div class="product-rating-box" title="0 b&#xE0;i &#x111;&#xE1;nh gi&#xE1;">
                            <div class="rating">
                                <div style="width: 0%">
                                </div>
                            </div>
                        </div>
                        <div class="description">
                        </div>
                        <div class="add-info">

                            <div class="prices">
                                <span class="price old-price">400.000&#x20AB;</span>
                                <span class="price actual-price">350.000&#x20AB;</span>
                            </div>
                            <div class="append_price_percent"></div>

                            <div class="buttons">
                                <button type="button" class="button-2 product-box-add-to-cart-button"
                                        onclick="AjaxCart.addproducttocart_catalog('/addproducttocart/catalog/2719/1/1?forceredirection=True');return false;">
                                    Mua
                                    ngay
                                </button>
                                <button type="button" class="button-2 add-to-wishlist-button"
                                        title="Thêm vào danh sách yêu thích"
                                        onclick="AjaxCart.addproducttocart_catalog('/addproducttocart/catalog/2719/2/1');return false;">
                                    Thêm
                                    vào danh sách yêu thích
                                </button>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
            <div class="item-box">
                <div class="product-item" data-productid="144">

                    <div class="picture">
                        <a href="/20w-usb-c-power-adapter"
                           title="Hi&#x1EC3;n th&#x1ECB; chi ti&#x1EBF;t cho S&#x1EA1;c 20W USB-C Power Adapter ">
                            <img alt="&#x1EA2;nh c&#x1EE7;a S&#x1EA1;c 20W USB-C Power Adapter "
                                 src="https://shopdunk.com/images/thumbs/0001395_sac-20w-usb-c-power-adapter_240.png"
                                 title="Hi&#x1EC3;n th&#x1ECB; chi ti&#x1EBF;t cho S&#x1EA1;c 20W USB-C Power Adapter " />
                        </a>
                    </div>
                    <div class="details">
                        <span class="product-title">
                            <a href="/20w-usb-c-power-adapter">S&#x1EA1;c 20W USB-C Power Adapter </a>
                        </span>
                        <div class="product-rating-box" title="0 b&#xE0;i &#x111;&#xE1;nh gi&#xE1;">
                            <div class="rating">
                                <div style="width: 0%">
                                </div>
                            </div>
                        </div>
                        <div class="description">
                        </div>
                        <div class="add-info">

                            <div class="prices">
                                <span class="price old-price">690.000&#x20AB;</span>
                                <span class="price actual-price">490.000&#x20AB;</span>
                            </div>
                            <div class="append_price_percent"></div>

                            <div class="buttons">
                                <button type="button" class="button-2 product-box-add-to-cart-button"
                                        onclick="AjaxCart.addproducttocart_catalog('/addproducttocart/catalog/144/1/1?forceredirection=True');return false;">
                                    Mua
                                    ngay
                                </button>
                                <button type="button" class="button-2 add-to-wishlist-button"
                                        title="Thêm vào danh sách yêu thích"
                                        onclick="AjaxCart.addproducttocart_catalog('/addproducttocart/catalog/144/2/1');return false;">
                                    Thêm
                                    vào danh sách yêu thích
                                </button>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
            <div class="item-box">
                <div class="product-item" data-productid="2767">

                    <div class="picture">
                        <a href="/op-lung-silicon-magsafe-cho-iphone-15"
                           title="Hi&#x1EC3;n th&#x1ECB; chi ti&#x1EBF;t cho &#x1ED0;p L&#x1B0;ng Silicon MagSafe cho iPhone 15">
                            <img alt="&#x1EA2;nh c&#x1EE7;a &#x1ED0;p L&#x1B0;ng Silicon MagSafe cho iPhone 15"
                                 src="https://shopdunk.com/images/thumbs/0021819_op-lung-silicon-magsafe-cho-iphone-15_240.jpeg"
                                 title="Hi&#x1EC3;n th&#x1ECB; chi ti&#x1EBF;t cho &#x1ED0;p L&#x1B0;ng Silicon MagSafe cho iPhone 15" />
                        </a>
                    </div>
                    <div class="details">
                        <span class="product-title">
                            <a href="/op-lung-silicon-magsafe-cho-iphone-15">
                                &#x1ED0;p L&#x1B0;ng Silicon MagSafe
                                cho iPhone 15
                            </a>
                        </span>
                        <div class="product-rating-box" title="0 b&#xE0;i &#x111;&#xE1;nh gi&#xE1;">
                            <div class="rating">
                                <div style="width: 0%">
                                </div>
                            </div>
                        </div>

                        <div class="description">
                            <p>
                                <span style="color: #000000;">
                                    Ưu đãi dự kiến áp dụng đến<strong>
                                        23:59 | 30/4/2024
                                        :
                                    </strong>
                                </span>
                            </p>
                            <hr />
                            <p style="text-align: center;">
                                <span style="color: #e03e2d;">
                                    <strong>
                                        [11/4 - 30/4] Mua
                                        kèm máy giá chỉ : 1.090.000đ
                                    </strong>
                                </span>
                            </p>
                            <hr />
                            <p>
                                <span style="color: #e03e2d;">
                                    <strong>
                                        Ưu đãi mua phụ kiện
                                        Non-Apple:
                                    </strong>
                                </span>
                            </p>
                            <p>
                                <span style="color: #000000;">
                                    <img src="/images/uploaded/tích tròn (1).jpg" alt=""
                                         width="16" height="17" /> Mua <strong>3 phụ kiện</strong> giảm
                                    <strong>100.000đ</strong>
                                </span>
                            </p>
                            <p>
                                <span style="color: #000000;">
                                    <img src="/images/uploaded/tích tròn (1).jpg" alt=""
                                         width="16" height="17" /> Mua <strong>4 phụ kiện</strong> giảm
                                    <strong>150.000đ</strong>
                                </span>
                            </p>
                            <p>
                                <span style="color: #000000;">
                                    <strong>
                                        <img src="/images/uploaded/tích tròn (1).jpg"
                                             alt="" width="16" height="17" />
                                    </strong>Mua<strong> 5 phụ kiện </strong>trở
                                    lên<strong> </strong>giảm<strong> 200.000đ</strong>
                                </span>
                            </p>
                            <p>
                                <em>
                                    <span style="font-size: 9pt;">
                                        Ưu đãi có thể kết thúc sớm hơn dự kiến, chi tiết
                                        vui lòng liên hệ NVBH hoặc gọi tổng đài <strong>1900.6626</strong> .
                                    </span>
                                </em>
                            </p>
                        </div>
                        <div class="add-info">

                            <div class="prices">
                                <span class="price old-price">1.590.000&#x20AB;</span>
                                <span class="price actual-price">1.390.000&#x20AB;</span>
                            </div>
                            <div class="append_price_percent"></div>

                            <div class="buttons">
                                <button type="button" class="button-2 product-box-add-to-cart-button"
                                        onclick="AjaxCart.addproducttocart_catalog('/addproducttocart/catalog/2767/1/1?forceredirection=True');return false;">
                                    Mua
                                    ngay
                                </button>
                                <button type="button" class="button-2 add-to-wishlist-button"
                                        title="Thêm vào danh sách yêu thích"
                                        onclick="AjaxCart.addproducttocart_catalog('/addproducttocart/catalog/2767/2/1');return false;">
                                    Thêm
                                    vào danh sách yêu thích
                                </button>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</div>
