<div class="footer">
    <div class=footer-upper>
        <div class="footer-block follow-us">
            <div class="header-logo">
                <a href="#">
                    <img src="~/ClientTLE/images//uploaded/apple-xxl.png" alt="Alternate Text" />
                </a>
            </div>
            <div class="topic-block">
                <div class="topic-block-body">
                    <p class="ft_gioithieu">
                        Website bán sản phẩm công nghệ Apple 
                </div>
            </div>
            <div class="social">
                <div class="title"><strong>Theo chúng tôi</strong></div>
                <ul class="networks">
                    <li class="facebook">
                        <a href=""target=_blank
                            rel="noopener noreferrer">
                            <img src="~/clienttle/images/face.png" />
                        </a>
                    <li class="twitter">
                        <a href= target_blank>
                           <img src="~/clienttle/images/youtube.png" />
                        </a>
                    <li class="rss">
                        <a href=https://zalo.me/3937868610324741136>
                            <img src="~/clienttle/images/zalo.png" />
                        </a>
                </ul>
            </div>
        </div>
        <div class="footer-block information">
            <div class=title><strong>Thông tin</strong></div>
            <ul class=list>
                <li><a href=/tin-tuc>Tin Tức</a>
            </ul>
        </div>
        <div class="footer-block my-account">
            <div class=title><strong>Địa chỉ & Liên hệ</strong></div>
            <ul class=list>
                <li><a>Tài khoản của tôi</a>
                <li><a>Đơn đặt hàng</a>
                <li>
                    <div class=topic-block>
                        <div class=topic-block-body>
                            <ul>
                                <li>
                                    <a href="https://www.google.com/maps/@@/data=!3m1!4b1!4m3!11m2!2s0Vq6CiZoSh-QELJ3lKHSgQ!3e3?shorturl=1"
                                        target=_blank rel=noopener>Tìm Store trên Google Map</a>

                                </li>
                            </ul>
                        </div>
                    </div>
                <li class="contact-footer">
                    <div class="topic-block">
                        <div class="topic-block-body">
                            <ul>
                                <li>
                                    <a>Liên Hệ: 03365522700</a>
                                    <ul>
                                        <li>
                                            <span style="color:#86868b;padding-left:15px;display:flex;line-height:20px">
                                                Nhánh 1: khu vực Hà Nội và các tỉnh phía bắc
                                            </span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-lower">
        <div class="footer-info">
            <span class="footer-disclaimer">Cần thơ: 5/2024
                <br>Địa chỉ: Việt Nam
                <br>Sinh viên thực hiện: Phạm Huy Đạt
            </span> 
        </div>
    </div>
</div>