@using App.Web.WebConfig.Consts

<div class="header">
    <div class="header-lower">
        <div class="header-logo">
            <a href="">
                <img alt="" src="">
            </a>
        </div>
        <div class="header-menu">
            <ul class="top-menu notmobile">
                <li class="category-menu-items"><a asp-controller="Home" asp-action="" asp-route-id="1"> iPhone </a>
                <li class="category-menu-items"><a asp-controller="Home" asp-route-id="2"> iPad </a>
                <li class="category-menu-items"><a asp-controller="Home" asp-route-id="3"> Mac </a>
                <li class="category-menu-items"><a asp-controller="Home" asp-route-id="4"> Watch </a>
                <li class=topic-items-news><a asp-controller="Home" asp-route-id="5"> Phụ kiện </a>
                <li class=topic-items-news><a href=/tin-tuc> Tin Tức </a>
            </ul>
            <div class=menu-toggle></div>
            <ul class="top-menu mobile">
                <div class="header-links">
                    @if (Context.User.Identity.IsAuthenticated)
                    {
                        <ul class="popup-header-links">
                            <li class=li_ico-register>
                                <a asp-action="Register" asp-controller="Account"
                                   class="ico-register">
                                    Tạo tài khoản ngay
                                </a>
                            </li>
                            <li class="li_ico-login">
                                <a asp-action="Login" asp-controller="Account"
                                   class="ico-login">
                                    Đăng nhập
                                </a>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="popup-header-links">
                            <li class="li_ico-register">
                                <a asp-action="UpdateProfile" asp-controller="Account"
                                   class="ico-register">
                                    Thông tin tài khoản
                                </a>
                            </li>
                            <li class="li_ico-login">
                                <a asp-action="Logout" asp-controller="Account"
                                   class="ico-login">
                                    Đăng xuất
                                </a>
                            </li>
                        </ul>
                    }
                </div>
                <li class="items-services-news"><a>Phụ kiện</a>
                <li class="items-services-news"><a href="" >Tin Tức</a> </li>
                <li>
                    <a asp-action="Logout" asp-controller="Account" class="ico-logout">Đăng xuất</a>
                </li>
                <style>
                    .cl-lang-active {
                        color: #007bff !important
                    }

                    .lang-li-ddl {
                        display: flex;
                        align-items: center
                    }

                        .lang-li-ddl img {
                            width: auto;
                            height: 100%;
                            margin-right: 10px
                        }
                </style>
            </ul>
        </div>
        <div class="header-links-wrapper">
            <div class="search-icon"></div>
            <div class="header-links">

                <ul class="popup-header-links">
                    <li class="li_ico-register">
                        <a asp-action="Register" asp-controller="Account">Tạo tài khoản ngay</a>
                    <li class="li_ico-login">
                        <a asp-action="Login" asp-controller="Account"
                           class="ico-login">Đăng nhập</a>

                    <li id="topcartlink">
                        <a asp-action="Index" asp-controller="Cart">         
                            <span class="cart-label">Giỏ hàng</span>
                            <span class="cart-qty">0</span>
                        </a>
                </ul>
            </div>
            <div class=login-icon>
                <a asp-action="Login" asp-controller="Account">
                    <img src=~/clienttle/images/uploaded-source/icon/login.png alt=login-icon>
                </a>
            </div>

        </div>
        <div class="account-desktop">
            <div class="header-links">
                <ul class="popup-header-links">
                    @if (!Context.User.Identity.IsAuthenticated)
                    {
                        <li class="li_ico-register">
                            <a asp-action="Register" asp-controller="Account"
                               class="ico-register">Tạo tài khoản ngay</a>
                        </li>
                        <li class="li_ico-login">
                            <a asp-action="Login" asp-controller="Account"
                               class="ico-login">Đăng nhập</a>
                        </li>
                    }
                    else
                    {
                        <li class="li_ico-register">
                            <a asp-action="UpdateProfile" asp-controller="Account"
                               class="ico-register">Thông tin tài khoản</a>
                        </li>
                        <li class="li_ico-login">
                            <a asp-action="Logout" asp-controller="Account"
                               class="ico-login">Đăng xuất</a>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </div>
    <div class="header-menu mobile">
        <ul class="top-menu notmobile">
            <li class="category-menu-items">
                <a asp-action="GetProductByCategory" asp-controller="Home" asp-route-id="1"> iPhone </a>
            </li>
            <li class="category-menu-items">
                <a asp-action="GetProductByCategory" asp-controller="Home" asp-route-id="2"> iPad </a>
            </li>
            <li class="category-menu-items">
                <a asp-action ="GetProductByCategory" asp-controller="Home" asp-route-id="3">
                    Mac </a>
            </li>
            <li class="category-menu-items">
                <a asp-action="GetProductByCategory" asp-controller="Home" asp-route-id="4"> Watch </a>
                </li>
            <li class="category-menu-items">
                <a asp-action="GetProductByCategory" asp-controller="Home" asp-route-id="5"> Phụ kiện </a>
                </li>
            <li class="category-menu-items"><a href=/tin-tuc> Tin Tức </a>
        </ul>
        <div class=menu-toggle></div>
        <ul class="top-menu mobile">
            <div class="header-links">
                <ul class="popup-header-links">
                    <li class="li_ico-register">
                        <a class="ico-register" asp-action="Register" asp-controller="Account">Tạo tài khoản ngay</a>
                    </li>
                    <li class="li_ico-login">
                        <a class="ico-login" asp-action="Login" asp-controller="Account">Đăng nhập</a>
                    </li>
                    <li id="topcartlink">
                        <a asp-action="Index" asp-controller="Cart" class="ico-cart">
                            <span class=cart-label>Giỏ hàng</span>
                            <span class=cart-qty>0</span>
                        </a>
                </ul>
            </div>
            <!-- <div class="block block-account-navigation customer-navigation">
                <div class=title><strong>Tài khoản của tôi</strong></div>
                <div class=listbox>
                    <ul class=list>
                        <li class="customer-info active"><a href=/customer/info>Th&#xF4;ng tin t&#xE0;i
                                kho&#x1EA3;n</a>
                        <li class="customer-addresses inactive"><a href=/customer/addresses>&#x110;&#x1ECB;a
                                ch&#x1EC9; nh&#x1EAD;n h&#xE0;ng</a>
                        <li class="customer-orders inactive"><a href=/order/history>&#x110;&#x1A1;n
                                &#x111;&#x1EB7;t h&#xE0;ng</a>
                        <li class="customer-my-system inactive"><a href=/customer/my-system>H&#x1EC7;
                                th&#x1ED1;ng</a>
                        <li class="downloadable-products inactive"><a
                                href=/customer/downloadableproducts>S&#x1EA3;n ph&#x1EA9;m c&#xF3;
                                th&#x1EC3; t&#x1EA3;i xu&#x1ED1;ng</a>
                        <li class="back-in-stock-subscriptions inactive"><a
                                href=/backinstocksubscriptions/manage>&#x110;&#x103;ng k&#xFD; nh&#x1EAD;n
                                tin khi h&#xE0;ng v&#x1EC1;</a>
                        <li class="reward-points inactive"><a href=/rewardpoints/history>&#x110;i&#x1EC3;m
                                th&#x1B0;&#x1EDF;ng</a>
                        <li class="change-password inactive"><a
                                href=/customer/changepassword>&#x110;&#x1ED5;i m&#x1EAD;t kh&#x1EA9;u</a>
                        <li class="customer-avatar inactive"><a href=/customer/avatar>&#x1EA2;nh
                                &#x111;&#x1EA1;i di&#x1EC7;n</a>
                        <li class="customer-reviews inactive"><a href=/customer/productreviews>L&#x1ECB;ch
                                s&#x1EED; &#x111;&#xE1;nh gi&#xE1; s&#x1EA3;n ph&#x1EA9;m</a>
                    </ul>
                </div>
            </div> -->
            <li class=items-services-news><a href=/tin-tuc>Tin Tức</a> </li>

            <li class="items-services-news">
                <a asp-action="Logout" asp-controller="Account" class=ico-logout>Đăng xuất</a>
            </li>
        </ul>
    </div>
</div>

@section scripts{

}