<!DOCTYPE html>

<html lang="en" class="html-login-page html-shopping-cart-page html-category-page html-registration-page html-news-list-page html-product-details-page mdl-js">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/awesome-notifications/style.min.css" rel="stylesheet" />

    <link href="~/clienttle/css/style.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    @RenderSection("head", required: false)
</head>
<body>
    <div class="master-wrapper-page">
        <div class="search-box store-search-box">
            <form method="get" id="small-search-box-form" asp-action="SearchProducts" asp-controller="Home">
                <input type="text" class="search-box-text" id="small-searchterms" autocomplete=off name="search"
                       placeholder="Tìm kiếm">
                <button type="submit"
                        class="button-1 search-box-button">
                    Tìm kiếm
                </button>
            </form>
        </div>

        <partial name="_header.cshtml" />

         @RenderBody()

         <partial name="_footer.cshtml" />
    </div>
    @await Component.InvokeAsync("Notyf")
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/clienttle/js/footer.js"></script>
    <script src="https://campaign.tsminifier.net/v2/opt/seo/index.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>
    <script src="~/lib/awesome-notifications/index.var.min.js"></script>

    <script src="~/clienttle/js/custom.js"></script>
    <script src="~/clienttle/js/cart_custom.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
