<div class="short-des">
    <p class="title ud_mo">Ưu đãi</p>
    <div class="short-description">
        <p style="line-height: 2;">
            <span style="color: #e03e2d;">
                <strong>I. Ưu đãi thanh toán</strong>
            </span>
        </p>
        <p style="line-height: 2;" data-toggle="modal" data-target="#myModal">
            <span style="color: #000000;">
                <img src="~/ClientTLE/images/uploaded/tích tròn (1).jpg" alt="" width="16"
                     height="17" />
                Giảm tới
                <strong>250.000đ qua cổng thanh toán QR VNPAY</strong>
                &nbsp;
                <span style="color: #007edb;">(xem chi tiết)</span>
            </span>
        </p>

        <div id="myModal" class="modal fade">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 id="h_18431149822361687751307080" class="modal-title">
                            <span style="color: #e03e2d;">
                                <strong>Ưu đãi cổng thanh toán (01/4 - 30/4)</strong>
                            </span>
                        </h5>
                        <button class="close" type="button" data-dismiss="modal">x</button>
                    </div>
                    <div class="modal-body">
                        <p>
                            <strong>
                                <span style="color: #000000;">I. Cổng thanh toán VNPay</span>
                            </strong>
                        </p>
                        <p>
                            <span style="color: #000000;">
                                <img src="~/ClientTLE/images/uploaded/tích tròn (1).jpg"
                                     alt="" width="16" height="17" /> Giảm tối đa
                                <strong>250.000đ</strong>
                                <strong>&nbsp;</strong>(SL có hạn)
                            </span>
                        </p>
                        <hr />
                        <span style="text-decoration: underline; color: #000000;">Lưu ý:</span>
                    </div>
                    <div class="modal-body">
                        <span style="color: #000000;">
                            - Nếu mã code báo lỗi, vui
                            lòng liên hệ NVBH hoặc tổng đài 1900.6626
                        </span>
                    </div>
                    <div class="modal-body">
                        <span style="color: #000000;">
                            - Không áp dụng cộng gộp CTKM
                            cổng thanh toán. Có thể kết thúc sớm nếu hết số lượng code.
                        </span>
                    </div>
                    <hr />
                </div>
            </div>
        </div>
        <p>
            <strong style="color: #e03e2d;">II. Ưu đãi trả góp (1/4 - 30/4)</strong>
        </p>
        <p style="line-height: 2;" data-toggle="modal" data-target="#myModal2">
            <span style="color: #000000;">
                <img src="~/ClientTLE/images/uploaded/tích tròn (1).jpg" alt="" width="16"
                     height="17" /> Ưu đãi tới <strong>5% giá trị sản phẩm </strong>khi thanh toán trả
                góp&nbsp;<span style="color: #007edb;">(xem chi tiết)</span>
            </span>
        </p>
        <div id="myModal2" class="modal fade">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 id="h_18431149822361687751307080" class="modal-title">
                            <span style="color: #e03e2d;"><strong>Ưu đãi trả góp</strong></span>
                        </h5>
                        <button class="close" type="button" data-dismiss="modal">x</button>
                    </div>
                    <div class="modal-body">
                        <p>
                            <span style="color: #000000;"><strong>I. </strong></span><span style="color: #000000;"><strong>Trả góp online qua Kredivo</strong></span>
                        </p>
                        <p>
                            <span style="color: #000000;">
                                <img src="~/ClientTLE/images/uploaded/tích tròn (1).jpg"
                                     alt="" width="16" height="17" /> Giảm 50% tối đa <strong>100.000đ </strong>cho
                                khách hàng lần đầu sử dụng
                            </span>
                        </p>
                        <p>
                            <span style="color: #000000;">
                                <img src="~/ClientTLE/images/uploaded/tích tròn (1).jpg"
                                     alt="" width="16" height="17" /> Giảm 5% tối đa <strong>200.000đ </strong>cho
                                khách hàng cũ đã sử dụng dịch vụ
                            </span>
                        </p>
                        <hr />
                        <p>
                            <span style="color: #000000;">
                                <strong>
                                    II. Trả góp qua Home
                                    PayLater
                                </strong>
                            </span>
                        </p>
                        <p>
                            <span style="color: #000000;">
                                <img src="~/ClientTLE/images/uploaded/tích tròn (1).jpg"
                                     alt="" width="16" height="17" /> Giảm <strong>5%</strong> không giới hạn
                                giá trị tối đa cho đơn hàng từ <strong>53.000đ</strong>
                            </span>
                        </p>
                        <p>
                            <span style="color: #000000;">
                                &nbsp;<img src="~/ClientTLE/images/uploaded/icon-gif/write.png" alt="" width="16" height="16" />
                                Đăng ký tài khoản <strong>Home PayLater</strong> <img src="~/ClientTLE/images/uploaded/icon-gif/login.png" alt="" width="16" height="16" />
                                <span style="color: #3598db;">
                                    <a style="color: #3598db;"
                                       href="https://shorten.asia/zSKpptzj">Bấm vào đây</a>
                                </span>&nbsp;
                            </span>
                        </p>
                        <hr /><span style="text-decoration: underline; color: #000000;">Lưu ý:</span>
                    </div>
                    <div class="modal-body">
                        <span style="color: #000000;">
                            - Ưu đãi trả góp có kèm
                            điều kiện áp dụng và dựa trên hạn mức riêng của mỗi khách hàng. Vui
                            lòng liên hệ NVBH để biết thêm chi tiết.
                        </span>
                    </div>
                    <div class="modal-body">
                        <span style="color: #000000;">
                            - Số lượng ưu đãi có hạn, CTKM
                            có thể kết thúc sớm hơn thời gian dự kiến
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <p style="line-height: 2;">
            <span style="color: #e03e2d;">
                <strong>
                    III. Ưu đãi mua kèm iPhone
                    15 series
                </strong>
            </span>
        </p>
        <p style="line-height: 2;">
            <span style="color: #000000;">
                <img src="~/ClientTLE/images/uploaded/icon-gif/best-offer.gif" alt="" width="20" height="20" />
                Mua kèm giảm sâu phụ kiện
                <span style="color: #007edb;">
                    &nbsp;
                    <strong data-toggle="modal"
                            data-target="#myModal0">(xem chi tiết)</strong>
                </span>
            </span>
        </p>
        <div id="myModal0" class="modal fade">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 id="h_18431149822361687751307080" class="modal-title">
                            <span style="color: #e03e2d;"><strong>Áp dụng từ 1/4 - 30/4</strong></span>
                        </h5>
                        <button class="close" style="color: #000000;" type="button"
                                data-dismiss="modal">
                            x
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>
                            <span style="color: #000000;">
                                <strong>
                                    I. Phụ kiện chính hãng
                                    Apple:
                                </strong>
                            </span>
                        </p>
                        <p>
                            <span style="color: #000000;">
                                <img src="~/ClientTLE/images/uploaded/tích tròn (1).jpg"
                                     alt="" width="16" height="17" /> Mua <strong>
                                    Apple Pencil 2 giá chỉ
                                    2.790.000đ
                                </strong>
                            </span>
                        </p>
                        <p>
                            <span style="color: #000000;">
                                <img src="~/ClientTLE/images/uploaded/tích tròn (1).jpg"
                                     alt="" width="16" height="17" /> Mua <strong>
                                    dây đeo Apple
                                    Watch
                                </strong>&nbsp;giảm <strong>100.000đ</strong>
                            </span>
                        </p>
                        <hr />
                        <p><span style="color: #000000;"><strong>II. Phụ kiện Non-Apple:</strong></span></p>
                        <p>
                            <span style="color: #000000;">
                                <img src="~/ClientTLE/images/uploaded/tích tròn (1).jpg"
                                     alt="" width="16" height="17" /> Mua <strong>3 phụ kiện</strong> giảm
                                <strong>100.000đ</strong>
                            </span>
                        </p>
                        <p>
                            <span style="color: #000000;">
                                <img src="~/ClientTLE/images/uploaded/tích tròn (1).jpg"
                                     alt="" width="16" height="17" /> Mua <strong>4 phụ kiện</strong> giảm
                                <strong>150.000đ</strong>
                            </span>
                        </p>
                        <p>
                            <span style="color: #000000;">
                                <strong>
                                    <img src="~/ClientTLE/images/uploaded/tích tròn (1).jpg" alt="" width="16" height="17" />
                                </strong>Mua<strong> 5 phụ kiện </strong>trở lên<strong> </strong>giảm<strong>
                                    200.000đ
                                </strong>
                            </span>
                        </p>
                        <p>
                            <span style="color: #000000;">
                                <strong>
                                    <img src="~/ClientTLE/images/uploaded/tích tròn (1).jpg" alt="" width="16" height="17" />
                                </strong>Mua<strong>
                                    dây đeo Apple Watch Non-apple tặng ngay 1 cường lực
                                    Apple Watch.
                                </strong>
                            </span>
                        </p>
                        <hr />
                        <p>
                            <span style="color: #000000;">
                                <img src="~/ClientTLE/images/uploaded/icon-gif/write.png"
                                     alt="" width="16" height="16" /> Lưu ý : Không áp dụng cộng gộp với các CTKM
                                ưu đãi khác. Khách mua combo phụ kiện Non-Apple được áp dụng voucher mua
                                hàng<strong> (nếu có).</strong>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <p style="line-height: 2;">
            <span style="color: #000000;">
                <img src="~/ClientTLE/images/uploaded/tích tròn (1).jpg" alt="" width="16" height="17" /> Giảm 10% khi
                mua <span style="color: #3598db;">
                    <a style="color: #3598db;"
                       href="https://shopdunk.com/chinh-sach-bao-hanh">
                        Bảo hành kim cương,&nbsp; Bảo hành
                        VIP (Rơi vỡ, vào nước) , Bảo hành mở rộng.
                    </a>
                </span>
            </span>
        </p>
        <p>
            <span style="color: #e03e2d;"><strong>IV. Ưu đãi lên đời</strong></span>
        </p>
        <p style="line-height: 2;" data-toggle="modal" data-target="#myModal8">
            <span style="color: #000000;">
                <img src="~/ClientTLE/images/uploaded/icon-gif/best-offer.gif" alt=""
                     width="20" height="20" />
                Trợ giá lên đời đến
                <strong>2.000.000đ</strong>
                <span style="color: #007edb;">
                    <strong>&nbsp;(xem chi tiết)</strong>
                </span>
            </span>
        </p>
        <div id="myModal8" class="modal fade">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 id="h_18431149822361687751307080" class="modal-title">
                            <span style="color: #e03e2d;">
                                <strong>
                                    Áp dụng từ 15/1 đến khi có thông báo
                                    mới&nbsp;
                                </strong>
                            </span>
                        </h5>
                        <button class="close" style="color: #000000;" type="button"
                                data-dismiss="modal">
                            x
                        </button>
                    </div>
                    <div class="modal-body">
                        <table style="border-collapse: collapse; width: 99.8208%; height: 44px;" border="1">
                            <tbody>
                                <tr style="height: 22px;">
                                    <td style="width: 48.718%; text-align: center; height: 22px;">
                                        <span style="color: #000000;"><strong>Dòng máy Trade-in</strong></span>
                                    </td>
                                    <td style="width: 48.718%; text-align: center; height: 22px;">
                                        <span style="color: #000000;"><strong>Khuyến mại tiền mặt</strong></span>
                                    </td>
                                </tr>
                                <tr style="height: 22px;">
                                    <td style="width: 48.718%; text-align: center; height: 22px;">
                                        iPhone 14 Pro
                                        Max
                                    </td>
                                    <td style="width: 48.718%; height: 22px; text-align: center;">2.000.000đ</td>
                                </tr>
                                <tr>
                                    <td style="width: 48.718%; text-align: center;">iPhone 14 Pro</td>
                                    <td style="width: 48.718%; text-align: center;">1.000.000đ</td>
                                </tr>
                                <tr>
                                    <td style="width: 48.718%; text-align: center;">
                                        iPhone 14 Plus , iPhone 14
                                    </td>
                                    <td style="width: 48.718%; text-align: center;">500.000đ</td>
                                </tr>
                                <tr>
                                    <td style="width: 48.718%; text-align: center;">iPhone 13 Pro Max</td>
                                    <td style="width: 48.718%; text-align: center;">1.000.000đ</td>
                                </tr>
                                <tr>
                                    <td style="width: 48.718%; text-align: center;">iPhone 13 Pro</td>
                                    <td style="width: 48.718%; text-align: center;">800.000đ</td>
                                </tr>
                                <tr>
                                    <td style="width: 48.718%; text-align: center;">iPhone 13</td>
                                    <td style="width: 48.718%; text-align: center;">500.000đ</td>
                                </tr>
                                <tr>
                                    <td style="width: 48.718%; text-align: center;">iPhone 12 Pro Max</td>
                                    <td style="width: 48.718%; text-align: center;">800.000đ</td>
                                </tr>
                                <tr>
                                    <td style="width: 48.718%; text-align: center;">iPhone 12 Pro</td>
                                    <td style="width: 48.718%; text-align: center;">600.000đ</td>
                                </tr>
                                <tr>
                                    <td style="width: 48.718%; text-align: center;">iPhone 12</td>
                                    <td style="width: 48.718%; text-align: center;">500.000đ</td>
                                </tr>
                                <tr>
                                    <td style="width: 48.718%; text-align: center;">iPhone 11 series</td>
                                    <td style="width: 48.718%; text-align: center;">500.000đ</td>
                                </tr>
                            </tbody>
                        </table>
                        <p>
                            *** <span style="font-size: 10pt;">
                                <span style="text-decoration: underline;"><strong>Lưu ý:</strong></span> Không áp
                                dụng cùng CTKM cổng thanh toán và chương trình trả góp 0% cho iPhone 15
                                series.&nbsp;
                            </span>
                        </p>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--popup strore availability-->