@model App.Web.Areas.Admin.ViewModels.AppSlider.AddOrUpdateSliderVM

<div class="row">
	<div class="col-md-4">
		<div class="form-group group-container">
			<label class="control-label required">Ảnh bìa</label>
			<div id="elfinder-background"></div>
			<input asp-for="ImagePath" class="form-control fake-d-none">
			<div class="position-relative">
				<input type="button" class="btn btn-elfinder w-100 h-100 position-absolute"
					   data-imgpath="#ImagePath"
					   data-imgthumbnailpath="#ImagePath">
				<div class="selectedImages" style="height: 250px !important;">
					@{
						if (Model is null)
						{
							<span>Ảnh bìa thể loại</span>
						}
						else
						{
							<img class="image-review" src="@Model.ImagePath" />
						}
					}
				</div>
			</div>
			<span asp-validation-for="ImagePath" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="FromDate" class="control-label">Từ ngày</label>
			<input asp-for="FromDate" class="form-control" />
			<span asp-validation-for="FromDate" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="ToDate" class="control-label">Đến ngày</label>
			<input asp-for="ToDate" class="form-control" />
			<span asp-validation-for="ToDate" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="Link" class="control-label">Liên kết</label>
			<input asp-for="Link" class="form-control" />
			<span asp-validation-for="Link" class="text-danger"></span>
		</div>
	</div>
</div>