@model App.Web.Areas.Admin.ViewModels.Product.AddOrUpdateProductVM

<select asp-for="CategoryId"
		asp-items="(SelectList)ViewBag.ProductCate"
		class="form-control" title="Category">
	<option value="" selected>-- Chọn một giá trị --</option>
</select>