@model IEnumerable<App.Web.ViewModels.Slider.ListSliderVM>

@if (Model.Count() > 0)
{
	<div id="fullpage">
		<section class="section">
			<div id="slider2">
				@foreach (var item in Model)
				{
					if (!item.ImagePath.IsNullOrEmpty())
					{
						<div class="item">
							<div class="img">
								<a href="@item.Link" title="">
									<img src="@item.ImagePath"
										 alt="" />
								</a>
							</div>
						</div>
					}
				}
			</div>
		</section>
	</div>
}