@model App.Web.ViewModels.Cart.OrderDataVM

<div class="all_checkout-billing">
    <div id="checkout-billing-load">
        <div class="checkout-data">
            <div class="section new-billing-address"
                 id=billing-new-address-form>
                <div class="enter-address bg-white">
                    <div class=edit-address>
                        <div class=inputs>
                            <input placeholder=Tên type="text" asp-for="CusName"/>
                            <span></span>
                        </div>
                        <div class="inputs two_col left">
                            <input placeholder="Số điện thoại" type="tel" asp-for="CusPhone"/>
                            <span></span>
                        </div>
                        <div class="inputs two_col right">
                            <input placeholder="Email" type="email" asp-for="CusEmail" />
                            <span></span>
                        </div>
                        <div class="all_receive_home">
                            <div class="inputs one-col">
                                <label>Địa chỉ cụ thể</label>
                                <input type=text asp-for="DeliveryAddress">
                                <span></span>
                            </div>
                        </div>

                        <input type="hidden" value="" asp-for="UseVoucher" class="useVoucher"/>
                        <input type="hidden"value="" asp-for="Total" class="totalMoney" />
                    </div>
                </div>
            </div>
        </div>
    </div>
 @*    <div id=checkout-payment-load>
        <div class=checkout-data>
            <div class="section payment-method">
                <div class=tt-address-select>Thông tin thanh toán</div>
                <div class=notice-payment style="text-align:left">
                    Quý khách
                    vui lòng lựa chọn các hình thức thanh toán dưới đây:
                </div>
                <ul class="method-list" id="payment-method-block">
                    <li style=display:block>
                        <div class=method-name>
                            <div class="payment-details d-flex">
                                <div class="d-flex align-items-center">
                                    <input onclick="selectPaymentMethod(&#34;PaymentKredivo&#34;)"
                                           id=paymentmethod_0 type=radio
                                           name=paymentmethod
                                           value=Payments.Kredivo> <input id=flash-sale value=false hidden>
                                </div>
                                <div class=payment-logo>
                                    <label for=paymentmethod_0>
                                        <img src=https://shopdunk.com/Plugins/Payments.Kredivo/logo.jpg
                                             alt="Thanh toán Kredivo"
                                             width=36 height=36>
                                    </label>
                                </div>
                                <div class="d-flex align-items-center item_paymentmethod"
                                     style=width:100%>
                                    <label for=paymentmethod_0>
                                        Thanh to&#xE1;n
                                        Kredivo
                                    </label>
                                </div>
                            </div>
                        </div>
                    <li style=display:block>
                        <div class=method-name>
                            <div class="payment-details d-flex">
                                <div class="d-flex align-items-center">
                                    <input onclick="selectPaymentMethod(&#34;PaymentOnepay&#34;)"
                                           id=paymentmethod_1 type=radio
                                           name=paymentmethod
                                           value=Payments.Onepay> <input id=flash-sale value=false hidden>
                                </div>
                                <div class=payment-logo>
                                    <label for=paymentmethod_1>
                                        <img src=https://shopdunk.com/Plugins/Payments.Onepay/logo.jpg
                                             alt="Thanh toán OnePay" width=36
                                             height=36>
                                    </label>
                                </div>
                                <div class="d-flex align-items-center item_paymentmethod"
                                     style=width:100%>
                                    <label for=paymentmethod_1>
                                        Thanh to&#xE1;n
                                        OnePay
                                    </label>
                                </div>
                            </div>
                        </div>
                    <li style=display:block>
                        <div class=method-name>
                            <div class="payment-details d-flex">
                                <div class="d-flex align-items-center">
                                    <input onclick="selectPaymentMethod(&#34;PaymentPayoo&#34;)"
                                           id=paymentmethod_2 type=radio
                                           name=paymentmethod
                                           value=Payments.Payoo> <input id=flash-sale value=false hidden>
                                </div>
                                <div class=payment-logo>
                                    <label for=paymentmethod_2>
                                        <img src=https://shopdunk.com/Plugins/Payments.Payoo/logo.jpg
                                             alt="Thanh toán Payoo" width=36
                                             height=36>
                                    </label>
                                </div>
                                <div class="d-flex align-items-center item_paymentmethod"
                                     style=width:100%>
                                    <label for=paymentmethod_2>
                                        Thanh to&#xE1;n
                                        Payoo
                                    </label>
                                </div>
                            </div>
                        </div>
                    <li style=display:block>
                        <div class=method-name>
                            <div class="payment-details d-flex">
                                <div class="d-flex align-items-center">
                                    <input onclick="selectPaymentMethod(&#34;PaymentVietQr&#34;)"
                                           id=paymentmethod_3 type=radio
                                           name=paymentmethod
                                           value=Payments.VietQr checked>
                                    <input id=flash-sale value=false hidden>
                                </div>
                                <div class=payment-logo>
                                    <label for=paymentmethod_3>
                                        <img src=https://shopdunk.com/Plugins/Payments.VietQr/logo.jpg
                                             alt="Chuyển khoản ngân hàng"
                                             width=36 height=36>
                                    </label>
                                </div>
                                <div class="d-flex align-items-center item_paymentmethod"
                                     style=width:100%>
                                    <label for=paymentmethod_3>
                                        Chuy&#x1EC3;n
                                        kho&#x1EA3;n ng&#xE2;n
                                        h&#xE0;ng
                                    </label>
                                </div>
                            </div>
                        </div>
                    <li style=display:block>
                        <div class=method-name>
                            <div class="payment-details d-flex">
                                <div class="d-flex align-items-center">
                                    <input onclick="selectPaymentMethod(&#34;PaymentVNPay&#34;)"
                                           id=paymentmethod_4 type=radio
                                           name=paymentmethod
                                           value=Payments.VNPay> <input id=flash-sale value=false hidden>
                                </div>
                                <div class=payment-logo>
                                    <label for=paymentmethod_4>
                                        <img src=https://shopdunk.com/Plugins/Payments.VNPay/logo.jpg
                                             alt="Thanh toán VNPay" width=36
                                             height=36>
                                    </label>
                                </div>
                                <div class="d-flex align-items-center item_paymentmethod"
                                     style=width:100%>
                                    <label for=paymentmethod_4>
                                        Thanh to&#xE1;n
                                        VNPay
                                    </label>
                                </div>
                            </div>
                        </div>
                    <li style=display:block>
                        <div class=method-name>
                            <div class="payment-details d-flex">
                                <div class="d-flex align-items-center">
                                    <input onclick="selectPaymentMethod(&#34;PaymentZaloPay&#34;)"
                                           id=paymentmethod_5 type=radio
                                           name=paymentmethod
                                           value=Payments.ZaloPay> <input id=flash-sale value=false hidden>
                                </div>
                                <div class=payment-logo>
                                    <label for=paymentmethod_5>
                                        <img src=https://shopdunk.com/Plugins/Payments.ZaloPay/logo.jpg
                                             alt="Thanh toán ZaloPay"
                                             width=36 height=36>
                                    </label>
                                </div>
                                <div class="d-flex align-items-center item_paymentmethod"
                                     style=width:100%>
                                    <label for=paymentmethod_5>
                                        Thanh to&#xE1;n
                                        ZaloPay
                                    </label>
                                </div>
                            </div>
                        </div>
                </ul>
            </div>
        </div>
        <div>
            <div class=payment-info-busy></div>
            <div id=checkout-payment-info></div>
        </div>
    </div> *@
</div>
