@{
    ViewBag.Title = "page-not-found";
}

<div class="master-wrapper-content">
    <div class="master-column-wrapper">
        <div class="center-1"
            <div class="page not-found-page" style="text-align: center">
                <img src="~/images/bn_404.png" alt="" class="img_notfound">
                <div class="page-title">
                    <h1>Oops! Trang bạn tìm kiếm không tồn tại.</h1>
                </div>
                <div class="page-body">
                    <div class="topic-block">
                        <div class="topic-block-body">
                            <p style="text-align: center;">
                                Website Shopdunk mới nâng cấp, do đó có một số
                                link có thể được thay đổi.<br />Bạn vui lòng trở lại trang chủ, thử tìm kiếm
                                với từ khóa khác hoặc tiếp tục mua sắm!
                            </p>
                        </div>
                    </div>

                </div>
                <a class="btn_pagenotfound" asp-action="Index" asp-controller="Home">Trở về trang chủ</a>
            </div>


        </div>

    </div>
</div>

