@{
    ViewData["Title"] = "Trang chủ";
}
<div class=master-wrapper-content>
    <div class=master-column-wrapper>
        <div class=center-1>
            <div class="page home-page">
                <div class=page-body>
                    <div class="banner_home-page desktop" style="display:none">
                        <div class="topic-block">
                            <div class=topic-block-body>
                               @*  <div class=banner_cate_slick>
                                    <a href=https://shopdunk.com/iphone-15-series>
                                        <img src="~ClientTLE/images/uploaded/banner/banner 2024/Thang_4/CD iphone 15 pro-banner_PC.jpg"
                                             alt="" width=1280 height=400>
                                    </a> <a href=https://shopdunk.com/iphone-15-series>
                                        <img src="~ClientTLE/images/uploaded/banner/banner 2024/Thang_4/2560x800 (23).png"
                                             alt="" width=1280 height=400>
                                    </a> <a href=https://shopdunk.com/apple-watch>
                                        <img src="~ClientTLE/images/uploaded/banner/banner 2024/Thang_4/banner apple watch 9 T4_PC.jpg"
                                             alt="" width=1280 height=400>
                                    </a> <a href=https://shopdunk.com/macbook-air>
                                        <img src="~ClientTLE/images/uploaded/banner/banner 2024/Thang_4/airm1t4pc.png"
                                             alt="" width=1280 height=400>
                                    </a> <a href=https://shopdunk.com/ipad>
                                        <img src="~ClientTLE/images/uploaded/banner/banner 2024/Thang_4/banner ipad gen 9 T4_PC.jpg"
                                             alt="" width=1280 height=400>
                                    </a> <a href=https://shopdunk.com/iphone-13>
                                        <img src="~ClientTLE/images/uploaded/banner/banner 2024/Thang_4/13t4pc.png"
                                             alt="" width=1280 height=400>
                                    </a> <a href=https://shopdunk.com/macbook-pro-m3-2023>
                                        <img src="~ClientTLE/images/uploaded/banner/banner 2024/Thang_4/banner macbook pro m3 T4_PC.jpg"
                                             alt="" width=1280 height=400>
                                    </a><a href=https://shopdunk.com/shopdunk-badminton-cup-c%C3%B9ng-apple-watch-khai-ph%C3%A1-gi%E1%BB%9Bi-h%E1%BA%A1n>
                                        <img src=~ClientTLE/images/uploaded/2560x800-Copy-1.png alt="" width=1280
                                             height=400>
                                    </a>
                                </div> *@
                            </div>
                        </div>
                    </div>
                    <div class="banner_home-page mobile">
                        <div class=topic-block>
                            <div class=topic-block-body>
                                <div class=banner_cate_slick>
                                    <a href=https://shopdunk.com/iphone-15-pro-max>
                                        <img src="~ClientTLE/images/uploaded/banner/banner 2024/Thang_4/CD iphone 15 pro-banner_MB.jpg"
                                             alt="" width=600 height=600>
                                    </a><a href=https://shopdunk.com/iphone-15-pro-max>
                                        <img src="~ClientTLE/images/uploaded/banner/banner 2024/Thang_4/1284x1284 copy 2 (2).png"
                                             alt="" width=600 height=600>
                                    </a> <a href=https://shopdunk.com/apple-watch>
                                        <img src="~ClientTLE/images/uploaded/banner/banner 2024/Thang_4/banner apple watch 9 T4_MB.jpg"
                                             alt="" width=600 height=600>
                                    </a> <a href=https://shopdunk.com/iphone-13>
                                        <img src="~ClientTLE/images/uploaded/banner/banner 2024/Thang_4/13t4mb.png"
                                             alt="" width=600 height=600>
                                    </a> <a href=https://shopdunk.com/macbook-pro-m3-2023>
                                        <img src="~ClientTLE/images/uploaded/banner/banner 2024/Thang_4/banner macbook pro m3 T4_MB.jpg"
                                             alt="" width=600 height=600>
                                    </a> <a href=https://shopdunk.com/ipad>
                                        <img src="~ClientTLE/images/uploaded/banner/banner 2024/Thang_4/banner ipad gen 9 T4_MB.jpg"
                                             alt="" width=600 height=600>
                                    </a> <a href=https://shopdunk.com/macbook-air>
                                        <img src="~ClientTLE/images/uploaded/banner/banner 2024/Thang_4/airm1t4mb.png"
                                             alt="" width=600 height=600>
                                    </a><a href=https://shopdunk.com/shopdunk-badminton-cup-c%C3%B9ng-apple-watch-khai-ph%C3%A1-gi%E1%BB%9Bi-h%E1%BA%A1n>
                                        <img src=~ClientTLE/images/uploaded/1284x1284-Copy-1.png alt="" width=600
                                             height=600>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=content_home-page>
                        <div class=topic-block>
                            <div class=topic-block-body>
                                <div class="Topic_Block_content splide">
                                    <div id=splide-track class=splide__track>
                                        <div class=splide__list>
                                            <a class="item_ss_top splide__slide"
                                               href=https://shopdunk.com/news-vip-customer target=_blank
                                               rel=noopener>
                                                <img class=Topic_Block_item
                                                     style=object-fit:cover;width:100%
                                                     src="~ClientTLE/images/uploaded/banner/bonus banner/xx1/B Trần.png"
                                                     alt="" height=166>
                                            </a> <a class="item_ss_top splide__slide"
                                                    href=https://shopdunk.com/news-vip-customer>
                                                <img class=Topic_Block_item style=object-fit:cover;width:100%
                                                     src="~ClientTLE/images/uploaded/banner/bonus banner/xx1/Bình An _ Phương Nga.png"
                                                     alt="" height=166>
                                            </a> <a class="item_ss_top splide__slide"
                                                    href=https://shopdunk.com/news-vip-customer>
                                                <img class=Topic_Block_item style=object-fit:cover;width:100%
                                                     src="~ClientTLE/images/uploaded/banner/bonus banner/xx1/Duydam.png"
                                                     alt="" height=166>
                                            </a> <a class="item_ss_top splide__slide"
                                                    href=https://shopdunk.com/news-vip-customer target=_blank
                                                    rel=noopener>
                                                <img class=Topic_Block_item
                                                     style=object-fit:cover;width:100%
                                                     src="~ClientTLE/images/uploaded/banner/bonus banner/xx1/HUyền Lizze _ Quỳnh Koool.png"
                                                     alt="" height=166>
                                            </a> <a class="item_ss_top splide__slide"
                                                    href=https://shopdunk.com/news-vip-customer>
                                                <img class=Topic_Block_item style=object-fit:cover;width:100%
                                                     src="~ClientTLE/images/uploaded/banner/bonus banner/xx1/Huỳnh Anh.png"
                                                     alt="" height=166>
                                            </a> <a class="item_ss_top splide__slide"
                                                    href=https://shopdunk.com/news-vip-customer>
                                                <img class=Topic_Block_item style=object-fit:cover;width:100%
                                                     src="~ClientTLE/images/uploaded/banner/bonus banner/xx1/Hà Việt Dũng.png"
                                                     alt="" height=166>
                                            </a> <a class="item_ss_top splide__slide"
                                                    href=https://shopdunk.com/news-vip-customer target=_blank
                                                    rel=noopener>
                                                <img class=Topic_Block_item
                                                     style=object-fit:cover;width:100%
                                                     src="~ClientTLE/images/uploaded/banner/bonus banner/xx1/Hồng Diễm.png"
                                                     alt="" height=166>
                                            </a> <a class="item_ss_top splide__slide"
                                                    href=https://shopdunk.com/news-vip-customer>
                                                <img class=Topic_Block_item style=object-fit:cover;width:100%
                                                     src="~ClientTLE/images/uploaded/banner/bonus banner/xx1/Lâm Đức Anh.png"
                                                     alt="" height=166>
                                            </a> <a class="item_ss_top splide__slide"
                                                    href=https://shopdunk.com/news-vip-customer>
                                                <img class=Topic_Block_item style=object-fit:cover;width:100%
                                                     src="~ClientTLE/images/uploaded/banner/bonus banner/xx1/Lê Bống.png"
                                                     alt="" height=166>
                                            </a><a class="item_ss_top splide__slide"
                                                   href=https://shopdunk.com/news-vip-customer target=_blank
                                                   rel=noopener>
                                                <img class=Topic_Block_item
                                                     style=object-fit:cover;width:100%
                                                     src="~ClientTLE/images/uploaded/banner/bonus banner/xx1/Mạnh Trường.png"
                                                     alt="" height=166>
                                            </a> <a class="item_ss_top splide__slide"
                                                    href=https://shopdunk.com/news-vip-customer>
                                                <img class=Topic_Block_item style=object-fit:cover;width:100%
                                                     src="~ClientTLE/images/uploaded/banner/bonus banner/xx1/Quang Thắng.png"
                                                     alt="" height=166>
                                            </a> <a class="item_ss_top splide__slide"
                                                    href=https://shopdunk.com/news-vip-customer>
                                                <img class=Topic_Block_item style=object-fit:cover;width:100%
                                                     src="~ClientTLE/images/uploaded/banner/bonus banner/xx1/Thu Mít.png"
                                                     alt="" height=166>
                                            </a> <a class="item_ss_top splide__slide"
                                                    href=https://shopdunk.com/news-vip-customer target=_blank
                                                    rel=noopener>
                                                <img class=Topic_Block_item
                                                     style=object-fit:cover;width:100%
                                                     src="~ClientTLE/images/uploaded/banner/bonus banner/xx1/Trung Anh.png"
                                                     alt="" height=166>
                                            </a> <a class="item_ss_top splide__slide"
                                                    href=https://shopdunk.com/news-vip-customer>
                                                <img class=Topic_Block_item style=object-fit:cover;width:100%
                                                     src="~ClientTLE/images/uploaded/banner/bonus banner/xx1/Trung Ruồi.png"
                                                     alt="" height=166>
                                            </a> <a class="item_ss_top splide__slide"
                                                    href=https://shopdunk.com/news-vip-customer>
                                                <img class=Topic_Block_item style=object-fit:cover;width:100%
                                                     src="~ClientTLE/images/uploaded/banner/bonus banner/xx1/VIệt Anh.png"
                                                     alt="" height=166>
                                            </a><a class="item_ss_top splide__slide"
                                                   href=https://shopdunk.com/news-vip-customer>
                                                <img class=Topic_Block_item style=object-fit:cover;width:100%
                                                     src="~ClientTLE/images/uploaded/banner/bonus banner/xx1/Đình Tú.png"
                                                     alt="" height=166>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="home-page-category-list">
                            <div class="item-list">
                                <div class="item-box-list">
                                    <div class="category-item">
                                        <h2 class="title"><a href= ""> iPhone </a></h2>
                                        <div class="page category-page">
                                            <div class="page-body">
                                                <div class="product-grid featured-product-grid">
                                                    <div class="item-grid">
                                                        @* item product iphone *@
                                                        <div class="item-box">
                                                            <div class="product-item" data-productid=59>
                                                                @* icon discount *@
                                                                <div class="product_tag">
                                                                    <img src=~ClientTLE/images/uploaded/icon/0-phantram.png
                                                                         alt="">
                                                                </div>
                                                                <div class="picture">
                                                                    <a
                                                                       title="Hiển thị chi tiết cho iPhone 13">
                                                                        <img alt="Ảnh của iPhone 13"
                                                                             src=https://shopdunk.com~ClientTLE/images/thumbs/0024430_iphone-13_240.png
                                                                             title="Hiển thị chi tiết cho iPhone 13">
                                                                    </a>
                                                                </div>
                                                                <div class="details">
                                                                    <h3 class="product-title">
                                                                        <a>iPhone 13</a>
                                                                    </h3>
                                                                    <div class="add-info">
                                                                        <div class=prices>
                                                                            <div class=price-ratio-container>
                                                                                <span class="price price-ratio">-45%</span>
                                                                            </div><span class="price old-price">24.990.000&#x20AB;</span>
                                                                            <span class="price actual-price">13.690.000&#x20AB;</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class=products-container>
                                                    <div class=ajax-products-busy></div>
                                                    <div class=products-wrapper></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="show-all">
                                    <a>
                                        Xem tất cả iPhone 
                                        <i class="fa-regular fa-chevron-right"></i>
                                    </a>
                                </div>

                                @* ipad *@
                                <div class="item-box-list">
                                    <div class="category-item">
                                        <h2 class=title>
                                            <a> iPad </a>
                                        </h2>
                                        <div class="page category-page">
                                            <div class=page-body>
                                                <div class="product-grid featured-product-grid">
                                                    <div class="item-grid">
                                                        <div class="item-box">
                                                            <div class="product-item" data-productid=73>
                                                                <div class="product_tag">
                                                                    <img src="~ClientTLE/images/uploaded/icon/vnpay500k.png"
                                                                         alt="">
                                                                </div>
                                                                <div class="picture">
                                                                    <a href=/ipad-mini-6
                                                                       title="Hiển thị chi tiết cho iPad mini 6">
                                                                        <img alt="Ảnh của iPad mini 6"
                                                                             src=https://shopdunk.com~ClientTLE/images/thumbs/0000593_ipad-mini-6_240.png
                                                                             title="Hiển thị chi tiết cho iPad mini 6">
                                                                    </a>
                                                                </div>
                                                                <div class="details">
                                                                    <h3 class=product-title>
                                                                        <a >
                                                                            iPad mini
                                                                            6
                                                                        </a>
                                                                    </h3>
                                                                    <div class=add-info>
                                                                        <div class=prices>
                                                                            <div class=price-ratio-container>
                                                                                <span class="price price-ratio">-25%</span>
                                                                            </div><span class="price old-price">14.990.000&#x20AB;</span>
                                                                            <span class="price actual-price">11.190.000&#x20AB;</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class=products-container>
                                                    <div class=ajax-products-busy></div>
                                                    <div class=products-wrapper></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=show-all>
                                    <a href=/ipad>
                                        Xem tất cả iPad <i class="fa-regular fa-chevron-right"></i>
                                    </a>
                                </div>

                                <div class=item-box-list>
                                    <div class=category-item>
                                        <h2 class=title>
                                            <a href=/mac> Mac </a>
                                        </h2>
                                        <div class="page category-page">
                                            <div class=page-body>
                                                <div class="product-grid featured-product-grid">
                                                    <div class=item-grid>
                                                        <div class=item-box>
                                                            <div class=product-item data-productid=94>
                                                                <div class=product_tag>
                                                                    <img src=~ClientTLE/images/uploaded/icon/vnpay250k.png
                                                                         alt="">
                                                                </div>
                                                                <div class=picture>
                                                                    <a href=/macbook-air-m1-2020
                                                                       title="Hiển thị chi tiết cho MacBook Air M1 2020 (8GB RAM | 256GB SSD)">
                                                                        <img alt="Ảnh của MacBook Air M1 2020 (8GB RAM | 256GB SSD)"
                                                                             src=https://shopdunk.com~ClientTLE/images/thumbs/0000723_macbook-air-m1-2020-8gb-ram-256gb-ssd_240.png
                                                                             title="Hiển thị chi tiết cho MacBook Air M1 2020 (8GB RAM | 256GB SSD)">
                                                                    </a>
                                                                </div>
                                                                <div class=details>
                                                                    <h3 class=product-title>
                                                                        <a href=/macbook-air-m1-2020>
                                                                            MacBook
                                                                            Air M1 2020 (8GB RAM | 256GB
                                                                            SSD)
                                                                        </a>
                                                                    </h3>
                                                                    <div class=add-info>
                                                                        <div class=prices>
                                                                            <div class=price-ratio-container>
                                                                                <span class="price price-ratio">-36%</span>
                                                                            </div><span class="price old-price">28.990.000&#x20AB;</span>
                                                                            <span class="price actual-price">18.490.000&#x20AB;</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class=products-container>
                                                    <div class=ajax-products-busy></div>
                                                    <div class=products-wrapper></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=show-all>
                                    <a href=/mac>
                                        Xem tất cả Mac <i class="fa-regular fa-chevron-right"></i>
                                    </a>
                                </div>
                                <div class=item-box-list>
                                    <div class=category-item>
                                        <h2 class=title><a href=/apple-watch> Watch </a></h2>
                                        <div class="page category-page">
                                            <div class=page-body>
                                                <div class="product-grid featured-product-grid">
                                                    <div class=item-grid>
                                                        <div class=item-box>
                                                            <div class=product-item data-productid=77>
                                                                <div class=product_tag></div>
                                                                <div class=picture>
                                                                    <a href=/apple-watch-se-2022-nhom-gps
                                                                       title="Hiển thị chi tiết cho Apple Watch SE Nhôm 2022 GPS">
                                                                        <img alt="Ảnh của Apple Watch SE Nhôm 2022 GPS"
                                                                             src=https://shopdunk.com~ClientTLE/images/thumbs/0022272_apple-watch-se-nhom-2022-gps_240.jpeg
                                                                             title="Hiển thị chi tiết cho Apple Watch SE Nhôm 2022 GPS">
                                                                    </a>
                                                                </div>
                                                                <div class=details>
                                                                    <h3 class=product-title>
                                                                        <a href=/apple-watch-se-2022-nhom-gps>
                                                                            Apple
                                                                            Watch SE Nh&#xF4;m 2022 GPS
                                                                        </a>
                                                                    </h3>
                                                                    <div class=add-info>
                                                                        <div class=prices>
                                                                            <div class=price-ratio-container>
                                                                                <span class="price price-ratio">-34%</span>
                                                                            </div><span class="price old-price">8.990.000&#x20AB;</span>
                                                                            <span class="price actual-price">5.890.000&#x20AB;</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class=products-container>
                                                    <div class=ajax-products-busy></div>
                                                    <div class=products-wrapper></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=show-all>
                                    <a href=/apple-watch>
                                        Xem tất cả Watch <i class="fa-regular fa-chevron-right"></i>
                                    </a>
                                </div>
                                <div class=item-box-list>
                                    <div class=category-item>
                                        <h2 class=title><a href=/phu-kien> Ph&#x1EE5; ki&#x1EC7;n </a></h2>
                                        <div class="page category-page">
                                            <div class=page-body>
                                                <div class="product-grid featured-product-grid">
                                                    <div class=item-grid>
                                                        <div class=item-box>
                                                            <div class=product-item data-productid=15>
                                                                <div class=product_tag></div>
                                                                <div class=picture>
                                                                    <a href=/airpods-pro-2
                                                                       title="Hiển thị chi tiết cho AirPods Pro 2">
                                                                        <img alt="Ảnh của AirPods Pro 2"
                                                                             src=https://shopdunk.com~ClientTLE/images/thumbs/0000211_airpods-pro-2_240.png
                                                                             title="Hiển thị chi tiết cho AirPods Pro 2">
                                                                    </a>
                                                                </div>
                                                                <div class=details>
                                                                    <h3 class=product-title>
                                                                        <a href=/airpods-pro-2>
                                                                            AirPods Pro
                                                                            2
                                                                        </a>
                                                                    </h3>
                                                                    <div class=add-info>
                                                                        <div class=prices>
                                                                            <div class=price-ratio-container>
                                                                                <span class="price price-ratio">-26%</span>
                                                                            </div><span class="price old-price">6.790.000&#x20AB;</span>
                                                                            <span class="price actual-price">4.990.000&#x20AB;</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class=products-container>
                                                    <div class=ajax-products-busy></div>
                                                    <div class=products-wrapper></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=show-all>
                                    <a href=/phu-kien>
                                        Xem tất cả phụ kiện 
                                        <i class="fa-regular fa-chevron-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class=news-list-homepage>
                        <h2 class=title><strong>Tin Tức</strong></h2>
                        <div class=news-items>
                            <div class=news-item>      
                                <div class=picture>
                                    <a href=/shopdunk-badminton-cup-c%C3%B9ng-apple-watch-khai-ph%C3%A1-gi%E1%BB%9Bi-h%E1%BA%A1n
                                       title="Hiển thị sản phẩm trong danh mục SHOPDUNK BADMINTON CUP - CÙNG APPLE WATCH KHAI PHÁ GIỚI HẠN">
                                        <img alt="Hình ảnh cho danh mục SHOPDUNK BADMINTON CUP - CÙNG APPLE WATCH KHAI PHÁ GIỚI HẠN"
                                             src=https://shopdunk.com~ClientTLE/images/thumbs/0024958_1200x400_1600.png
                                             title="Hiển thị sản phẩm trong danh mục SHOPDUNK BADMINTON CUP - CÙNG APPLE WATCH KHAI PHÁ GIỚI HẠN">
                                    </a>
                                </div>
                                <h3 class="news-head" style=margin:0>
                                    <a class="news-title" >
                                        BADMINTON CUP - C&#xD9;NG APPLE WATCH KHAI PH&#xC1; GI&#x1EDA;I
                                        H&#x1EA0;N
                                    </a>
                                </h3>
                                <div class="news-dates">
                                    <span class="news-date">04/04/2024</span>
                                </div>
                            </div>
                            <div class=news-item>
                                <div class=picture>
                                    <a href=/danh-gia-macbook-air-m-1
                                       title="Hiển thị sản phẩm trong danh mục Đánh giá MacBook Air M1: MacBook Air M1 có ổn không? Dùng được mấy năm nữa? ">
                                        <img alt="Hình ảnh cho danh mục Đánh giá MacBook Air M1: MacBook Air M1 có ổn không? Dùng được mấy năm nữa? "
                                             src="https://shopdunk.com~ClientTLE/images/thumbs/0019069__DSC4273 (1)_1600.jpeg"
                                             title="Hiển thị sản phẩm trong danh mục Đánh giá MacBook Air M1: MacBook Air M1 có ổn không? Dùng được mấy năm nữa? ">
                                    </a>
                                </div>
                                <h3 class=news-head style=margin:0>
                                    <a class=news-title
                                       href=/danh-gia-macbook-air-m-1>
                                        &#x110;&#xE1;nh gi&#xE1; MacBook Air
                                        M1: MacBook Air M1 c&#xF3; &#x1ED5;n kh&#xF4;ng? D&#xF9;ng
                                        &#x111;&#x1B0;&#x1EE3;c m&#x1EA5;y n&#x103;m n&#x1EEF;a?
                                    </a>
                                </h3>
                                <div class=news-dates><span class=news-date>07/03/2024</span></div>
                            </div>
                            <div class=news-item>
                                <div class=picture>
                                    <a href=/tong-hop-chuong-trinh-khuyen-mai-thang-4
                                       title="Hiển thị sản phẩm trong danh mục 🇻🇳 THÁNG TỰ HÀO - TRAO NGÀN DEAL SỐC 🇻🇳 ">
                                        <img alt="Hình ảnh cho danh mục 🇻🇳 THÁNG TỰ HÀO - TRAO NGÀN DEAL SỐC 🇻🇳 "
                                             src=https://shopdunk.com~ClientTLE/images/thumbs/0024922_FB-2_1600.png
                                             title="Hiển thị sản phẩm trong danh mục 🇻🇳 THÁNG TỰ HÀO - TRAO NGÀN DEAL SỐC 🇻🇳 ">
                                    </a>
                                </div>
                                <h3 class=news-head style=margin:0>
                                    <a class=news-title
                                       href=/tong-hop-chuong-trinh-khuyen-mai-thang-4>
                                        &#x1F1FB;&#x1F1F3;
                                        TH&#xC1;NG T&#x1EF0; H&#xC0;O - TRAO NG&#xC0;N DEAL S&#x1ED0;C
                                        &#x1F1FB;&#x1F1F3;
                                    </a>
                                </h3>
                                <div class=news-dates><span class=news-date>01/03/2024</span></div>
                            </div>
                            <div class=news-item>
                                <div class=picture>
                                    <a href=/review-macbook-pro-m3-2023
                                       title="Hiển thị sản phẩm trong danh mục Review MacBook Pro M3 2023: Chip M3 series vượt trội, tối ưu đồ họa và gaming">
                                        <img alt="Hình ảnh cho danh mục Review MacBook Pro M3 2023: Chip M3 series vượt trội, tối ưu đồ họa và gaming"
                                             src="https://shopdunk.com~ClientTLE/images/thumbs/0023321_review-macbook-pro-m3-2023 (2)_1600.jpeg"
                                             title="Hiển thị sản phẩm trong danh mục Review MacBook Pro M3 2023: Chip M3 series vượt trội, tối ưu đồ họa và gaming">
                                    </a>
                                </div>
                                <h3 class="news-head" style="margin:0">
                                    <a class="news-title">
                                        Review MacBook Pro M3 2023: Chip M3
                                        series v&#x1B0;&#x1EE3;t tr&#x1ED9;i, t&#x1ED1;i &#x1B0;u
                                        &#x111;&#x1ED3; h&#x1ECD;a v&#xE0; gaming
                                    </a>
                                </h3>
                                <div class=news-dates>
                                    <span class=news-date>28/02/2024</span>
                                </div>
                            </div>
                        </div>
                        <div class="view-all">
                            <a >Xem tất cả Tin Tức</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
