@model App.Web.Areas.Admin.ViewModels.AppPolicy.AddOrUpdatePolicyVM

@{
	ViewData["Title"] = $"Sửa chính sách {Model.Title}";
}

<div class="row">
	<div class="col-md-12">
		<form asp-action="Update" method="post" asp-controller="AppPolicy">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<partial name="_AddOrUpdatePolicy" model="Model" />
			<div class="form-group">
				<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Lưu</button>
				<button type="reset" class="btn btn-default"><i class="fa fa-undo"></i> Nhập lại</button>
			</div>
		</form>
	</div>
</div>
<partial name="_BackToList" />

@section scripts{
	<script src="~/js/elfinder/common_elfinder.js"></script>
	@await Html.PartialAsync("_Summernote", new { height = 500, selector = "#Content" })
}