@model App.Web.ViewModels.Account.ChangePwdVM
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutInfo.cshtml";
}

<div class="bg-sg"></div>
<div class="master-wrapper-content">
    <div class="master-column-wrapper">
        <div class="side-2">
            <div class="block block-account-navigation ">
                <div class="title"><strong>Tài khoản của tôi</strong></div>
                <div class="listbox">
                    <ul class="list">
                        <li class="customer-info inactive">
                            <a asp-action="UpdateProfile" asp-controller="Account">Thông tin tài khoản</a>
                        </li>
                        <li class="customer-addresses inactive">
                            <a asp-action="UpdateAddress" asp-controller="Account">Địa chỉ nhận hàng</a>
                        </li>
                        <li class="customer-orders inactive">
                            <a asp-action="UpdateProfile" asp-controller="Account">Đơn đặt hàng</a>
                        </li>
                        <li class="change-password active">
                            <a asp-action="ChangePassword" asp-controller="Account">Đổi mật khẩu</a>
                        </li>

                        <li class="customer-avatar inactive">
                            <a href=/customer/avatar>
                                Ảnh đại diện
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="center-2">
            <div class="page account-page change-password-page">
                <div class="page-title">
                    <h1>Đổi mật khẩu</h1>
                </div>
                <div class="page-body">
                    <form method=post autocomplete="off" asp-action="ChangePassword" asp-controller="Account">
                        <div class="fieldset>"
                            <label class="luu_y" style="    margin: 16px 16px 0 16px !important;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #4B4B4B;
    text-align: left;
    padding: 10px;"> Lưu ý: Mật khẩu phải có tối thiểu 8 ký tự
                                bao gồm chữ, số và các ký tự đặc biệt 
                            </label>
                            <div class="form-fields">
                                <div class="inputs">
                                    <label >Mật khẩu cũ:</label>
                                    <input type="password" asp-for="Pwd"/> 
                                    <span class="field-validation-valid" asp-validation-for="Pwd"></span>
                                </div>
                                <div class="inputs">
                                    <label >Mật khẩu mới:</label>
                                    <input type="password"  asp-for="NewPwd"/>
                                    <span class="field-validation-valid" asp-validation-for="NewPwd"></span>
                                </div>
                                <div class="inputs">
                                    <label >Xác nhận mật khẩu:</label>
                                    <input type="password" asp-for="ConfirmPassword">
                                    <span class="field-validation-valid" asp-validation-for="ConfirmPassword"></span>
                                </div>
                            </div>
                        </div>
                        <div class="buttons">
                            <button type="submit" class="button-1 change-password-button">
                                Đổi mật khẩu
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

