@model App.Web.ViewModels.Account.LoginClientVM
@{
    ViewData["Title"] = "Login";
}

<div class="master-wrapper-content">
    <div class="master-column-wrapper">
        <div class="center-1">
            <div class="breadcrumb">
                <ul>
                    <li><a asp-action="Index" asp-controller="Home">Trang chủ</a>
                    <li><span> &nbsp;  ›  &nbsp;</span> <a>Đăng nhập</a>
                </ul>
            </div>

            <div class="page login-page">
                <div class="page-body">
                    <div class="customer-blocks">
                        <div class="new-wrapper register-block">
                            <div class="topic-block">
                                <div class="topic-block-body">
                                    <p>
                                        <img src="~/ClientTLE/images/uploaded/banner/TND_M402_010 1.jpeg" alt="" width=793 height=467>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="returning-wrapper fieldset">
                            <form method="post" autocomplete="off" asp-action="Login" asp-controller="Account">
                                <div class="page-title">
                                    <h1>Đăng nhập</h1>
                                </div>
                                <div class=form-fields>
                                    <div class=inputs>
                                        <label asp-for="Username">
                                            Tên đăng nhập:
                                        </label> 
                                        <input class="username" asp-for="Username" />       
                                        <span class="field-validation-valid"
                                            asp-validation-for="Username" data-valmsg-replace=true>
                                        </span>
                                    </div>
                                    <div class="inputs">
                                        <label asp-for="Password">Mật khẩu:</label>
                                        <input class="password" type="password" asp-for="Password" />
                                        <span class="field-validation-valid" asp-validation-for="Password" data-valmsg-replace=true></span>
                                    </div>
                                    <div class="inputs reversed">
                                        <input type="checkbox" asp-for="RemeberMe" />
                                        <label for=RememberMe>Nhơ mật khẩu</label> <span class="forgot-password">
                                            <a href="/">
                                                Quên mật khẩu?
                                            </a>
                                        </span>
                                    </div>
                                </div>
                                <div class="buttons">
                                    <button type="submit" class="button-1 login-button">
                                        Đăng nhập
                                    </button>
                                </div>

                                <div class="buttons-forgot">
                                    <label> Bạn chưa có tài khoản? </label> 
                                    <button asp-action="Register" asp-controller="Account" 
                                        type="button" class="button-1 register-button">
                                        Tạo tài khoản ngay
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>