@model App.Web.Areas.Admin.ViewModels.News.AddOrUpdateNewsVM

@{
	ViewData["Title"] = "Thêm bài viết mới";
}

@section head{
	<link href="~/summernote/summernote-bs4.min.css" rel="stylesheet" />
}

<div class="row">
	<div class="col-md-12">
		<form asp-action="Create" method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<partial name="_AddOrUpdateNews" model="Model" />
			@if (User.IsInPermission(AuthConst.AppNews.SENDMAILREGISTER))
			{
				<div class="form-group">
					<div class="form-check">
						<input style="transform: scale(1.5);" class="form-check-input" type="checkbox" asp-for="SendAllEmail" id="defaultCheck1">
						<label class="form-check-label" for="defaultCheck1">
							Bạn có muốn gửi thông tin về bài viết này cho những người đăng ký?
						</label>
					</div>
				</div>
			}
			<div class="form-group">
				<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Lưu</button>
				<button type="reset" class="btn btn-default"><i class="fa fa-undo"></i> Nhập lại</button>
			</div>
		</form>
	</div>
</div>
<partial name="_BackToList" />

@section scripts{
	<script src="~/js/elfinder/common_elfinder.js"></script>
	<script src="~/js/Admin/news/seo_news.js" asp-append-version="true"></script>
	@await Html.PartialAsync("_Summernote", new { height = 500, selector = "#Content" })
}