@model App.Web.Areas.Admin.ViewModels.News.AddOrUpdateNewsVM

@{
	ViewData["Title"] = $"Cập nhật bài viết [{Model.Title}]";
}

@section head{
	<link href="~/summernote/summernote-bs4.min.css" rel="stylesheet" />
}

<div class="row">
	<div class="col-md-12">
		<form asp-action="Update" method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<partial name="_AddOrUpdateNews" model="Model" />
			<div class="form-group">
				<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Lưu</button>
			</div>
		</form>
	</div>
</div>
<partial name="_BackToList" />

@section scripts{
	<script src="~/js/elfinder/common_elfinder.js"></script>
	<script src="~/js/Admin/news/seo_news.js" asp-append-version="true"></script>
	@await Html.PartialAsync("_Summernote", new { height = 500, selector = "#Content" })
}

